[2011-12-08 09:15] leepeterson opened #1 "Net::SSH::AuthenticationFailed"
Hi there. Thanks for this marvelous script. You're about to change my whole workflow for the better.

I'm having some trouble at the pull stage. After initializing & configuring a yaml config file, I do a pull and here's what happens:

$ wordmove pull
Pushing the DB...
/Library/Ruby/Gems/1.8/gems/net-ssh-2.2.1/lib/net/ssh.rb:200:in `start': root (Net::SSH::AuthenticationFailed)
        from /Libra

[2011-12-08 10:25] #1 closed, assigned to nobody

[2011-12-09 09:11] leepeterson opened #2 "Unable to connect"

[2011-12-09 09:11] leepeterson opened #3 "Unable to connect"
Thanks for adding more details to the output. That was helpful.

I'm still getting errors, though. The first error is:

$ wordmove pull
Pulling the DB...
SSH authentification failure, please double check the SSH credentials on your Movefile!

SSH info is correct. See here:

$ ssh root@xx.xx.xx.xx
root@xx.xx.xx.xx's password:
Last login: Thu Dec  8 13:15:31 2011 from xx.xx.xx.xx

I can SSH in, run

[2011-12-10 20:35] #2 closed, assigned to nobody

[2012-01-04 07:04] jch opened #5 "Permission denied"
I'm getting a permission denied when trying to run `wordmove pull`.  Here's the relevant stacktrace:

[code]

I haven't looked into it very deeply, but my guess is that the directory it's trying to download into is owned by root and can't be written into by my user. Is it possible to run remote commands with sudo?

[2012-02-21 19:05] jwaldrip opened #6 "Issue with Pulling the DB"
I cannot seem to diagnose this error:

[code]

[2012-02-21 23:13] #6 closed, assigned to nobody

[2012-06-20 11:02] endorama opened #8 "Wordmove does not stop/display error when remote mysqldump breaks"
If mysqldump fails on remote server wordmove pull does not stop nor display error messages. Obviously the dump is not correctly imported in local installation.

[2012-07-04 13:33] yumyo opened #9 "Wordmove & MAMP"
I've just found that MAMP mysqldump is located under /Applications/MAMP/Library/bin/mysqldump
I'm wondering if there's a way to point Wordmove to this new path.

[2012-07-04 13:42] #3 closed, assigned to nobody

[2012-07-04 13:46] #9 closed, assigned to nobody

[2012-07-04 13:54] yumyo opened #10 "rsync failed to exec sshpass"
I'm getting the following error after a word move push:
`rsync: Failed to exec sshpass: No such file or directory (2)
rsync error: error in IPC code (code 14) at /SourceCache/rsync/rsync-42/rsync/pipe.c(86) [sender=2.6.9]
rsync: connection unexpectedly closed (0 bytes received so far) [sender]
rsync error: error in IPC code (code 14) at /SourceCache/rsync/rsync-42/rsync/io.c(452) [sender=2.6.9]
Er

[2012-08-29 15:10] yumyo opened #12 "siteurl and Home issue"
Hi,
I'm facing a strange problem pushing changes to remote host, siteurl and Home DB fields are updated with the local values. Everything else, including post, are ok.
Any suggestion?

This my Movefile content:

[code]

[2012-10-19 07:51] #5 closed, assigned to nobody

[2012-10-19 07:58] #10 closed, assigned to nobody

[2012-10-19 08:08] Arkham opened #13 "Refresh wordmove options"
It seems a bit counter-intuitive to tell wordmove what to ignore instead of what to push/pull: instead I would prefer to tell wordmove exactly what I need to be updated.

Moreover, I guess a sensible default would be nice, such as for example pushing only the theme when wordmove is called without options

[2012-11-15 18:27] endorama opened #15 "no such file to load - net/ssh/gateway"
Trying `wordmove` on Ubuntu 12.04 lead to this error:

[code]

You can fix it by doing:

[code]

[2012-11-15 18:28] #15 closed, assigned to nobody

[2012-11-19 10:40] #12 closed, assigned to nobody

[2012-12-07 17:02] #13 closed, assigned to nobody

[2013-01-16 08:54] gyopiazza opened #22 "Rollback feature"
Hello and thanks for sharing this gem.

Is it possible to rollback in case something goes wrong?

Thank you!

[2013-02-12 10:29] alessandro-fazzi opened #23 "Wrong adapt dump if FTP (?)"
I'm trying to use the gem configured for ftp.
I see that the database gets wrong urls substitution despite of obsolute/relative paths that I set. For example:

[code]

makes my permalinks  _http://emisphera.local/emisphera.local/chi-siamo/_

[code]

makes my permalinks _http://home/pioneerskies/web/emisphera.local/chi-siamo/_

And if I declare __wordpress_path: "emisphera.local"__ so I need to inv

[2013-02-12 13:50] #23 closed, assigned to Arkham

[2013-02-15 11:54] mukkoo opened #25 "Password autentication error"
there's an error on rsync command:
rsync --progress -e 'ssh user@domain' --archive --compress --omit-dir-times --delete /local/path/ :/remote/path
when I launch wordmove command they required always the password... you must to use sshpass?

[2013-03-06 14:00] alessandro-fazzi opened #26 "Stage / Production support"
What about implementing a double remote Movefile configuration, one for staging and one for production?
Would be nice if the command will defaults to production if not specified other with a cli option. And the Movefile should be

[code]

[2013-03-06 14:51] #25 closed, assigned to Arkham

[2013-03-12 09:06] namuit opened #28 "Database Backup on push"
It can be a useful feature a new cli option that offer a copy of the dump of the database before the push of it.
The problem is pretty simple: the files are often in a repo or in a compressed file somewhere (email, dropbox, filesystem, etc.), so if you made an error, you can revert everything, but if there are errors on the database, you can't.

It can be nice a new option that doesn't delete the

[2013-03-13 16:41] matjack1 opened #29 "Complete copy"
I think would be useful a flag to pull and push the complete WordPress tree.

This would be useful for the first deploy and then to restart working on a production site, getting all the core and plugin updates done in the meantime.

I'm proposing something like:

[code]

and:

[code]

for a pull/push of everything, database included

[2013-03-15 16:22] delphaber opened #30 "Override classic wp folders path"
Add a "directories" key to Movefile to override common wp folders path like wp-content, uploads.

Wordmove should upload files in those directories accordingly

[2013-03-18 15:25] #8 closed, assigned to nobody

[2013-03-18 15:26] #28 closed, assigned to nobody

[2013-03-18 15:47] #26 closed, assigned to nobody

[2013-03-19 13:43] alessandro-fazzi opened #31 ""exclude" section by default in Movefile skeleton"
Since this is not documented anywhere I think we should add in the skeleton just under the staging wordpress path. I think commented would be ok, or with `- .git` by default

[2013-03-19 14:38] alessandro-fazzi opened #33 "A little bug if args inverted"
In v1.0.6

[code]

Not a real usage problem, but probably something weak in args parsing?

[2013-03-19 16:26] #33 closed, assigned to stefanoverna

[2013-03-19 16:27] #31 closed, assigned to stefanoverna

[2013-03-19 18:30] #30 closed, assigned to stefanoverna

[2013-03-27 15:53] #29 closed, assigned to stefanoverna

[2013-04-03 06:07] matjack1 opened #37 "first push --all doesn't work"
if you push --all for the first time the exclusion of wp-content in the push of the core make everything else fail, because the uploads, theme and plugin copy don't create the wp-content folder.

Maybe in the push --all we can always try to create the wp-content folder?

[2013-04-03 10:15] #37 closed, assigned to nobody

[2013-04-03 15:45] endorama opened #40 "Certificate verification: certificate common name doesn't match requested host name"
For some unspecified reason ( I wasn't able to understand where the problem come's from ) trying to push or pull on an Aruba.it shared hosting fails with the above mentioned error.

There is a possible fix for this?

[2013-04-08 16:44] #40 closed, assigned to nobody

[2013-05-18 19:11] azmenak opened #42 "Use a socket DB connection"
Is there any way to use a socket DB connection locally by specifying a socket file? I know mysql dump supports it...

[2013-07-26 20:31] felixfischer opened #44 "rsync and special chars"
Hi,

when wordmove runs rsync to sync uploads, rsync has a problem with special characters (like umlauts) in filenames. Those files are deleted and redownloaded every time I run wordmove pull. This rsync option fixes it for me:

[code]

Source: https://discussions.apple.com/thread/2707887

Is there a chance that this parameter could be included in wordmove?

Cheers
Felix

[2013-08-22 05:57] digisavvy opened #45 "Does this work with Multisite?"
hey there,
I'm looking for a scripted method to sync Multisites from one environment to the other. This looks promising. Off the top of your head could this work with a sub-folder multisite setup?

[2013-08-26 09:51] #45 closed, assigned to nobody

[2013-08-28 23:45] nlemoine opened #46 "Movefile syntax higlihgting"
Hi,

I was wondering why the Movefile is a YAML formatted file but does not receive the .yaml extension ?

It's not a big deal but as many developpers, I'm using Sublime Text and the syntax highlighting is not displaying when no file extension was found.

Could you change this ? I think it would bring some confort while editing Movefile files.
This can be achieved in a way to preserve backward com

[2013-08-29 10:07] #46 closed, assigned to nobody

[2013-09-03 10:04] #44 closed, assigned to Arkham

[2013-09-04 00:13] bf4 opened #51 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-09-04 09:44] #51 closed, assigned to Arkham

[2013-09-11 09:05] darioghilardi opened #52 "Push also copies excluded directories through ftp"
When i use lftp as deploy method (cheap hosting usually) the parameter --exclude-glob invocated by the lftp command gets ignored. So I get all excluded files pushed into the remote host when I launch `wordmove push -w -e=production`.
It works if I copy-paste the invocated lftp command changing `--exclude-glob` to `--exclude`.

[2013-09-16 11:15] lucdecri opened #53 "Infinite loop download if remote wordpress_path is wrong"
Hi,

I've installed wordmove (it is very hard if you don't have LFTP installed on MAC!)

I've configured movefile in my localhost path
using
   wordmove pull --all

there is a message "cd: fatal error xxxxx not found in server" (or similar : I no longer have the displayed message), but download continue, in loop (every local subdir contains all server's files and subdirs from / !)

[2013-09-17 13:45] alessandro-fazzi opened #54 "sql dump naming"
When a push is done against remote database the saved dump is named `local-xxx` regardless of the stage's name in the `Movefile`.

This way is a problem recognizing from wich environment a dump is coming if we have a configuration with multiple remotes

[2013-09-18 09:24] #53 closed, assigned to nobody

[2013-09-18 09:27] #52 closed, assigned to nobody

[2013-09-18 09:37] #54 closed, assigned to Arkham

[2013-09-23 22:21] Mte90 opened #55 "Auto-generate local wordpress_path from the current shell path"
It's possible to add, in the Movefile generated with wordmove init, that the parameter wordpress_path contain the absolute path to where i am from the shell?

[2013-09-24 08:01] Arkham opened #56 "Auto-fill local database configuration from wp-config.php"
When using wordmove init, can the local database configuration info taken from the file wp-config.php?

[2013-09-27 10:15] #56 closed, assigned to nobody

[2013-09-27 10:15] #55 closed, assigned to nobody

[2013-10-02 09:56] Mte90 opened #58 "lftp check if connect on the host"
I have tryed to push on the host by have get this:

[code]

After a search on google i have found this simple configuration for disable the verify of certificate:
http://anils-tips.blogspot.it/2011/05/lftp-fatal-error-certificate.html

It's possible to add a check if lftp connect on the host without any problems?

[2013-10-02 14:34] Mte90 opened #59 "Push database and error 500"
I get this error when i try to push the database:

[code]

The remote database is empty, i have no idea for the problem because wordmove have pushed all the files of wordpress. The not output an error 500 but it's working with a empty database (wordpress ask me to generate the wp-config.php, wordmove don't have created it...)

[2013-10-02 20:59] Mte90 opened #60 "wordpress_absolute_path missing in the skeleton movefile"
If wordpress_absolute_path missing in the movefile when is enabledftp the dump of the database are not adapted to remote domain.

[2013-10-04 08:38] #59 closed, assigned to nobody

[2013-10-09 09:19] awinterstale97 opened #63 "You need to specify an environment with -- [...]"

[2013-10-09 10:18] #63 closed, assigned to alessandro-fazzi

[2013-10-15 15:39] quacos opened #64 "No CAS operation available for this platform"
I needed to add a parameter:

gem install wordmove  -- --with-cflags=-march=i686

[2013-10-15 17:04] quacos opened #65 "invalid byte sequence in UTF-8 (ArgumentError)"
# wordmove init

[code]

/usr/lib/ruby/gems/1.9.1/gems/wordmove-1.1.0/lib/wordmove/generators/movefile_adapter.rb:77:in `match': invalid byte sequence in UTF-8 (ArgumentError)

[2013-11-28 10:24] AndreaBarghigiani opened #66 "Problem with permalinks"
Hi weilaka team,

congrats for your amazing work! I've been usign your gem in the last few days and I've been impressed with its easy of use.

Unfortunatly there is a little problem that I can't understand properly, but I'm sure its my fault ;) Every time I pull or push my work the platform that has been updated it will loose the permalink settings and I have to enter in the admin panel and save a

[2013-11-28 15:06] Mte90 opened #67 "Choose the template or plugin"
When i do it the `wordmove push -t` it's not possible choose the template to push.
When i do it this command i see that wordmove check every time in the installation but i don't need in the most of the times.
it's possible add a parameter for set the template or the plugin to sync?

[2013-11-28 16:56] #60 closed, assigned to nobody

[2013-12-03 22:03] AndreaBarghigiani opened #69 "Why shall I download a "download" file?!?"
Hi there,

I am writing just to let you know about a strange problema I am having with WordMove. My server configuration is not the best one anyone can get and maybe my problem derive from it but let me explain a bit better.

The structure of my server is something like this:

[code]

I other words my public_html/ folder has my main website and then you'll fine the  wpsite_1/, wpsite_2/ and wpsite

[2013-12-04 10:28] #64 closed, assigned to nobody

[2013-12-04 10:34] #67 closed, assigned to nobody

[2013-12-04 10:40] #42 closed, assigned to nobody

[2013-12-04 12:31] #66 closed, assigned to nobody

[2013-12-04 14:31] #69 closed, assigned to nobody

[2014-01-04 17:58] momolog opened #70 "FTP: certificate verify failed"
When doing a

[code]

to a server with no proper certificate I keep getting
    remote | write /public_html/wordpress/wp-content/dump.php
    local | download https://www.example.com/wordpress/wp-content/dump.php?shared_key=xxx > /Users/xxx/Sites/linke-thueringen/wp-content/remote-backup-xxx.sql
/Users/xxx/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/2.0.0/net/http.rb:918:in `connect': SSL_connect returne

[2014-01-07 19:24] #70 closed, assigned to nobody

[2014-01-29 12:43] nlemoine opened #72 "WordPress in a subdirectory"
Hi,

I'm using WordPress in a subdirectory and I'm setting my own content, plugins, plugins-mu directories. Here's my folder structure:
[code]
Although Wordmove plays nicely with custom directories (with `paths`), it doesn't deal with WordPress in a subdirectory. From what I observed, it takes the WordPress path and adds the custom paths behind. I'm for example ending up with something like:
[code

[2014-02-17 01:27] desmillicious opened #73 "OpenURI::HTTPError over FTP"
Hi there I have been using Wordmove with no problems over SSH and FTP, but I have recently had some issues with the OpenURI returning a 404 when trying to download the dump.php/dump.sql

If I look on the server, the dump.php is there... but dump.sql is not created. Are the permissions not being set properly? I may have updated my gemset.... Here is the error.

[code]

Edit: when `passive: true` th

[2014-02-20 14:30] lucdecri opened #74 "Invalid byte sequence in UTF-8 on db synchronize"
Hi,
i have take old wordpress site, and i want sync it on my localhost.

Files are correctly synchronized, but when push (or pull) db, terminal write
"adapt dump
/Users/luca/.rvm/gems/ruby-2.0.0-p247/gems/wordmove-1.1.0/lib/wordmove/sql_adapter.rb:44:in `gsub!': invalid byte sequence in UTF-8 (ArgumentError)"
and view a lot of error.

with other site from this remote server and on this localhost,

[2014-02-21 05:59] coreyallen opened #75 "Expected Key Error"
First of all..this is amazing, thanks for woking on this.

I created a move file and tried both SSH and FTP, both times I had the following error

[code]

[2014-03-08 19:35] tanshio opened #76 "YAML (NameError) and mysqldump command not found"
Hi,
I'm using wordmove.

[code]

To solve the problems, I added code in base.rb.

[code]

---

mysqldump command not found.
FTP is OK,but can not be successful with SSH...

**Case successful.**

**local**
/usr/bin/mysqldump

**host**
/usr/bin/mysqldump

**Case that does not succeed.**

**local**

/usr/bin/mysqldump

**host**

/usr/local/mysql/bin/mysqldump

---

I'm on the way of learning English.

[2014-03-08 20:34] iamlasse opened #77 "Dump.php & Dump.sql on push "No such file or directory""
I'm trying to push a dev site to a test remote staging environment, but it keeps hanging on files above mentioned missing. When are they created in the wordmove sequence?

[2014-03-27 13:06] dondia-lab opened #78 "Problem local database when pull"
Hi, I get the error:
`/.rvm/gems/ruby-2.0.0-p451@global/gems/wordmove-1.1.0/lib/wordmove/sql_adapter.rb:44:in `gsub!': invalid byte sequence in US-ASCII (ArgumentError)`

[2014-04-08 10:28] alessandro-fazzi opened #79 "HEAD code pull db over ftp broken"
[code]

[2014-04-08 15:14] delphaber opened #80 "FTP password with bash special chars"
password passed to lftp should be escaped, otherwise lftp command will break

[2014-04-09 10:04] #79 closed, assigned to nobody

[2014-04-09 10:11] #65 closed, assigned to Arkham

[2014-04-09 14:43] #76 closed, assigned to nobody

[2014-04-09 14:43] #80 closed, assigned to delphaber

[2014-05-15 19:03] lucascosta opened #83 "Files with accents get all jammed up on pull"
Pulling files with accents (áéíãç, etc), does not work very well. The file names are converted to some encoding type...

[2014-05-23 14:15] Mte90 opened #84 "Dump.php not print the error"
The dump.php have in the get_connection an $error variable that it's not printed so it's impossible to check the error.
In the line 164 add `echo $error` and you can see the error of the connection.

[2014-05-30 10:06] #74 closed, assigned to nobody

[2014-05-30 10:52] #78 closed, assigned to nobody

[2014-06-05 23:10] Mte90 opened #85 "Add node_modules/* to exclude list"
It's possible add to the wordmove init generator the code:

[code]

[2014-06-06 11:00] #85 closed, assigned to nobody

[2014-06-09 05:22] #73 closed, assigned to alessandro-fazzi

[2014-06-12 10:14] tanshio opened #86 "Problem is I can't find where should I set ':charset' in the Movefile."
Problem is I can't find where should I set ':charset' in the Movefile.

I found it  base.rb file -> mysql_dump_command -> options.

I set 'utf8' , but it doesn't work.

Please tell me.

Best regards.

[2014-06-13 14:02] #75 closed, assigned to nobody

[2014-06-14 07:56] #86 closed, assigned to nobody

[2014-07-29 20:25] gitviola opened #87 "exclude folders does not work properly"
I want to exclude the node modules folder in my theme folder with:

[code]

Unfortunately, the script still uploads the entire node_modules folder.

For the files in the wordpress root it seems to work. For the .*sql files in the wp-content folder it works as well.

[2014-07-30 12:37] #87 closed, assigned to nobody

[2014-08-14 11:18] ljuboja opened #88 "Error on wordmove pull, and push"
✓ Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
/home/ljuboja/.rvm/rubies/ruby-2.1.2/lib/ruby/2.1.0/psych.rb:370:in `parse': (<unknown>): did not find expected '-' indicator while parsing a block collection at line 23 column 5 (Psych::SyntaxError)
	from /home/ljuboja/.rvm/rubies/ruby-2.1.2/lib/ruby/2.1.0/psych.rb:370:in `parse_stream'
	from /home/ljuboja/.rvm/rubies/ruby-2.1.

[2014-08-25 08:49] #77 closed, assigned to nobody

[2014-09-01 11:47] gitviola opened #90 "Problem when trying to push/pull database"
Hi, I get the error:

[code]

[2014-09-18 07:58] #90 closed, assigned to nobody

[2014-09-22 13:28] Swingline0 opened #93 "Compression for SQL transfer?"
Considering the sweet compression ratio a compressed SQL file gets, it would be cool to leverage this for database migrations. There might be implications I'm overlooking but it seems like it should be feasible for both SSH and FTP transfers... right?

[2014-09-24 00:53] #83 closed, assigned to nobody

[2014-09-24 21:49] kyletheisen opened #94 "Error pushing database - incompatible character encodings"
/Library/Ruby/Gems/2.0.0/gems/net-ssh-2.9.1/lib/net/ssh/buffer.rb:284:in `block in write': incompatible character encodings: ASCII-8BIT and UTF-8 (Encoding::CompatibilityError)
        from /Library/Ruby/Gems/2.0.0/gems/net-ssh-2.9.1/lib/net/ssh/buffer.rb:284:in`each'
        from /Library/Ruby/Gems/2.0.0/gems/net-ssh-2.9.1/lib/net/ssh/buffer.rb:284:in `write'
...
...

I updated sql_adapter.rb fro

[2014-09-25 21:53] #94 closed, assigned to nobody

[2014-09-28 07:20] sebastianopilla opened #95 "Cannot pass multiple options to rsync"
I've tried without success to pass multiple options for the rsync pull, but it seems that something (probably the photocopier gem) squashes the values into a single string, creating invalid rsync invocations.

Here's what I've tried:

- multiple "rsync_options" lines in the Movefile: only one of them is applied
- multiple options in one line, as an array
[code]
- one rsync_options line, multiple a

[2014-09-28 23:04] gbell12 opened #96 ""No valid adapter found""
Hi Guys - thanks for this neat tool - bringing command-line power to the somewhat backwards world of PHP CMS's!  Not getting it to work yet though...

On a wordmove push, I get:
[code]

[2014-10-09 02:50] joeguilmette opened #98 "Problem pulling database"
So, everything will pull successfully via rsync except the database.

I'm using VVV via Vagrant/VirtualBox to get WordPress up. VVV uses Ubuntu/Nginx.
Upon initially running Wordmove, I get this error:

[code]

Ok... So then I `brew install mysql`, perhaps naively.

[code]

I've double checked the Movefile against wp-config.php to ensure that it's using the proper credentials. Here's what we have.

[2014-10-09 14:20] #98 closed, assigned to nobody

[2014-10-10 03:00] joeguilmette opened #99 "db authentication issue"
I was running `$ wordmove pull -d` with the ssh password commented out in my Movefile, entering in my server password. got error `Authentication failed for user user@host.com (Net::SSH::AuthenticationFailed)`

Found this:

http://stackoverflow.com/questions/21560297/capistrano-sshauthenticationfailed-not-prompting-for-password

I had to register my public keys with my server before it would work.

[2014-10-10 03:09] joeguilmette opened #100 "db pull issue"
I had a mountain of issues to work around, and I finally got through them all and wordmove is now pushing and and pulling just fine.

[code]

Looks good, but when I reload project.dev/, the db changes are nowhere to be found. Everything else pulls just fine.

Here are the server entries for my local wp_config.php - it's pointing to the same db right?

[code]

I am using VVV, and running wordmove t

[2014-10-11 10:53] Mte90 opened #101 "Wp-content not exist"
I've do it an `wordmove pull -d` with only a movefile and i get this:

[code]

If i need only the database is not possible for me use wordmove without create the wp-content folder.
Maybe a check is useful?

[2014-10-11 10:55] Mte90 opened #102 "wordmove pull help"
I've written `wordmove pull help` but i get:

[code]

Is possible show the output of wordmove help pull?

[2014-10-11 10:56] Mte90 opened #103 "mkdir: Access failed: 550 Can't create directory: File exists (/public_html/)"
Why i get this with a `wordmove pull -w`?

[code]

[2014-10-11 11:03] Mte90 opened #104 "Add in the readme Wordmove-Tools"
I've created many scripts for auto detection of settings for the Movefile and that genberate the wp-config.php with the data of movefile.

The repo: https://github.com/Mte90/Wordmove-tools

is possible add this script in the readme?

[2014-10-11 14:01] #101 closed, assigned to nobody

[2014-10-11 14:06] #103 closed, assigned to nobody

[2014-10-11 14:16] #99 closed, assigned to nobody

[2014-10-15 01:04] CraftyDevon opened #105 "WP-Config Loop"
Thanks for building such an awesome utility! I'm currently encountering some issues when it comes to database setup. I have a LAMP box on Digital Ocean where I've created my database and entered those credentials into my Movefile, and using wordmove push --all gets my files to the server. When I begin the install, it requests my DB credentials, and once I provide them it informs me that it can't c

[2014-10-15 08:13] #102 closed, assigned to nobody

[2014-10-18 22:48] #105 closed, assigned to nobody

[2014-10-30 05:32] #100 closed, assigned to nobody

[2014-10-30 06:07] joeguilmette opened #106 "Simple permissions question"
First off- I love this tool. You guys rock, and have been very kind to me in the past when posting ridiculous questions. Feel free to link me to google. Anyway. I'm using *VVV locally* and *EasyEngine in production*.

The issue I'm having is in production, /var/www is owned by www-data:www-data, which is set to `www-data:x:33:33:www-data:/var/www:/sbin/nologin` in /etc/passwd, as (I've read) it sh

[2014-11-04 18:54] johnajacob opened #107 "Pushing/Pulling DB"
Hey guys. I'm almost positive that this is not a bug related with wordmove, but I can't figure out what I;m doing wrong.
What I'm trying to do is, using VirtualBox, Vagrant and VVV is to keep my wordpress files (on my virtual machine) in sync with the ones from my remote server
.
When I try to do wordpress pull (or push) I get the following error:

[code]

What am I doing wrong?

[2014-11-05 16:34] #107 closed, assigned to nobody

[2014-11-05 18:20] omargourari opened #108 "DB data serialization"
What about the wordpress db serialized data?
Does the utilty support also those?

thank you

[2014-11-07 17:29] #108 closed, assigned to nobody

[2014-11-17 19:53] CraftyDevon opened #110 "Database push failing"
Hey there,
  I'm currently encountering the following issue when I try and push my database. I know the paramaters in my movefile are correct, as they match wp-config and the site installer ran fine with them. Any thoughts? Thanks! I'm running this with wordmove push -d -e staging

[code]

[2014-11-21 16:24] leeman99 opened #111 "UTF-8 and ASCII-8BIT (Encoding::CompatibilityError)"
First off thanks for creating such an amazing tool! Wordmove is really going to change our workflow! I've managed to get everything up and running, and am able to send my theme, plugins, core, etc. to our LAMP box on Digital Ocean. The only thing I'm encountering is this issue with the database sync.

[code]

I've adjusted the sql_adapter.sb file to include the UTF 8 line suggested in previous fix

[2014-12-02 01:18] Boztown opened #113 "Prevent database push"
Is there any option in the Movefile or a simple hack I could introduce to basically disable the "push" command for the database?  I love being able to pull the database and pushing it up is handy initially but could be really dangerous for my team at a certain point.

[2014-12-04 15:12] miya0001 opened #114 "Error on illegal byte sequence"
I got an error on `wordmove pull --all` and `wordmove pull --db`.

[code]

And I found a solution like following so sql dump file sometimes contain illegal byte sequence.

https://github.com/miya0001/wordmove/compare/fix-when-illegal-byte-sequence-found

This problem happen only `wordmove pull` and it doesn't happen on `wordmove push`.

I can't found cause about why dump file contain illegal byte

[2014-12-06 10:26] rcorbari opened #115 "Cannot install Wordmove on OS X Yosemite 10.10.1"
Hello,

I tried to follow a guide to install Wordmove from my OS X Terminal, but it cannot be installed. Is there any step-by-step guide on how to do it?

Thanks to all who will answer.

[2014-12-11 08:35] joeguilmette opened #116 "mu-plugins not getting pushed"
Am I being dumb? Or does WordMove not support mu-plugins?

[2014-12-15 09:45] #116 closed, assigned to nobody

[2015-01-03 10:03] nonchiedercilaparola commented on #115
i think that i have MRI ruby interpreter second this guide: https://www.ruby-lang.org/it/downloads/

[2015-01-07 10:01] pioneerskies commented on #115
I thought you were using rubinius due to your rbenv path: `/Users/nonchiedercilaparola/.rbenv/versions/rbx-2.2.10/gems/gems/wordmove-1.2.0/lib/wordmove/deployer/base.rb:2`. Rbx stands for rubinius AFAIK.

This has not to be a problem, but we have never tested our code against that interpreter.

[2015-01-12 21:35] andyinabox commented on #116
:(

[2015-01-12 21:42] andyinabox opened #117 "Support for pushing mu-plugins"
It's pretty clear from #116 that there is no support for pushing plugins in the `mu-plugins` directory, but I'm curious why. Is this a "no time for frivolities" omission or a principled stance against use of the `mu-plugins` directory? It seems like it wouldn't be all that difficult to implement.

[2015-01-13 09:04] pioneerskies commented on #117
Hi @andyinabox and thanks for your interest. `mu-plugins` is not a problem per se; is overall the WP MU support: moving a single wordpress install is not the same work as moving a MU install.

So implementing just the support for `mu-plugins` wouldn't be enough to support the whole MU thing.

Decision was about -all or nothing- and nothing won, because we don't work on MU installations actually. B

[2015-01-13 19:51] tikot opened #118 "Duplicating WordPress core in languages folder"
A weird bug.

If I don't have a languages folder in contents folder and will run `wordmove push --all` it will make a `languages` directory and upload the WordPress core into languages folder.

the config `Movefile` : nothing is special only different is I used ftp this time.

[code]

[2015-01-13 19:58] tikot commented on #72
+1 This is a good idea to have WordPress core in subdirectory. Specially if your are using version control like `git`.

[2015-01-14 07:56] dmassiani opened #119 "Various characters in ftp password"
My password is like this : "Md5-e];97" and wordmove doesn't accept ";"
He try to connect from 97@ftp.com
I tried "Md5-e]\;97" but doesn't work

[2015-01-17 16:55] blocka opened #120 "403 on dump.php"
Not sure if this is a host specific issue or not, but I get a 403 on the dump.php file when its in wp-content. If I move it out to the root, it works fine.

[2015-01-17 18:52] esaheiskanen opened #121 "Git support"
It would be nice to have git and git sub repository support.

Thanx for great work.

[2015-01-19 09:56] pioneerskies commented on #121
Hi @esaheiskanen :)

Thanks for your suggestions; could I ask you to elaborate a bit on it? How do you think Wordmove should support GIT? Could you try to describe an example workflow?

Thanks for your patience and thought

[2015-01-19 10:05] pioneerskies commented on #120
Hi @blocka ,

mmmm...I've just tried locally to `GET` directly a php file inside `wp-content` and it just works.

[code]

Anyway if it should be an issue specific to your host, I'd call it a security feature, not a bug :)

Moreover, why and how are you moving `dump.php` in another folder? It is an automatically generated file; have you patched Wordmove's code in order to create it in a different p

[2015-01-19 10:25] blocka commented on #120
I manually moved it to see what would happen. My host did implement it as a security feature, but in that case, perhaps it should make sense not to put it in wp-content? I'm assuming you did that out of "security through obscurity". Why not put it in the root, or make a random folder (together with a random name) instead?

[2015-01-19 13:59] pioneerskies commented on #120
If I'd have to give you a fast answer, this design decision was taken because of the exotic setups wordpress is capable of, e.g.: folder, sub-folder, w/ wp-content moved away and even more.

We'll consider your situation and try to analyze your precious suggestions :)

Thanks a lot

[2015-01-19 17:08] andyinabox commented on #117
Ah yes ok — I think I was not seeing the use of the `mu-plugins` in the larger context, as I'm newer to WordPress. I have been using it simply as a way of including "required" plugins in a site infrastructure outside of the built-in plugin architecture. It's clear now after doing a bit of research that there's a larger history tied to the WP multisite setup (which I haven't yet worked with).

[2015-01-20 09:33] torounit commented on #45
Like This?

https://github.com/torounit/wordmove/blob/multisite/lib/wordmove/sql_adapter.rb

[2015-01-21 12:04] Mte90 commented on #45
This work also for subfolders?

[2015-01-22 00:43] torounit commented on #45
@Mte90 This work for subfolder install. not testing for subdomain install.

[2015-01-23 11:18] LudovicFauchet commented on #103
Hello,

I open again the ticket, i tried to do a `wordmove pull -w` but it doesn't work, if i have understood it's a problem with lftp, but how to correct that problem ?

The terminal respond is
`mkdir: Access failed: 550 Can't create directory: File exists (/agencedelest/)`

Thanks a lot

[2015-01-24 21:46] petertandlund commented on #72
Did you find a solution to having WordPress in a subdirectory with content etc outside of wp directory? Would be happy to know how you solved it in that case.

[2015-01-26 10:07] pioneerskies commented on #103
Hi @LudovicFauchet and thanks for enquiry.

Could you tell us what is the consequence of that message? The transfer stops? Is it incomplete? What else?

Thanks in advance for the clues :)

[2015-01-26 10:09] LudovicFauchet commented on #103
Hi @pioneerskies ,

Yes the transfer stop and thats all... :'(

Cheers

[2015-01-26 10:11] pioneerskies commented on #45
Please @torounit make a pull request from your code, so that we can easily review that. I will be glad to test and review it as soon as I can

+1

[2015-01-27 12:29] manolof commented on #45
@torounit fork seems to be working for sub-domains too.

[2015-01-28 07:38] sayedwp opened #123 "nodename nor servname provided, or not known when pushing folder"
After reading a lot about wordmove, thought to include this in my workflow but after trying the whole day could not get any success which is certainly because of my ignorance.  I am trying to use FTP to push and pull files and I did the following.

1) Installed wordmove.
2) Installed rudix and then lftp.
3) cd /Applications/MAMP/htdocs/naija/wp-content/themes/naija
4) wordmove init (which created

[2015-01-28 09:06] pioneerskies commented on #123
Hi! :)

I think you've a problem here:

[code]

moreover in your `host` setting. Simply `lftp` can't connect to the host you told him; probably you have maintained the default "host" setting as far as I can see in your screenshot: `ftp://xxxxxxx:xxxxxx@host`

Let we know if it helped

Cheers

[2015-01-28 14:18] sayedwp commented on #123
Wow this is super awesome and super fast. Have been looking for something like this for years. And yes the problem was in the ftp details, fixed now. Just one more thing, how do I push or pull a single file, is there any place where I can see the list of all commands?

[2015-01-28 18:22] pioneerskies commented on #123
I'm really happy it was helpful and you enjoy Wormove :))))

Try `wordmove push help` to get a list of all possible actions it can accomplish.

Push a single file is not possible, but:

1. only modified files will be transfered (permission, time, contents, etc.)
2. you can exlcude files within the, you betcha, `exclude` section in the `Movefile`

I'll close the issue. Feel free to reopen if you'll

[2015-01-28 18:22] #123 closed

[2015-01-28 20:09] sayedwp commented on #123
Thanks a lot, that was very helpful.

[2015-02-08 22:20] alisspers commented on #117
Hi guys,
@pioneerskies : I think there might be a confusion here about mu-plugins. It is true that initially they came from WordPress MU (called Multisite ever since they merged it into core), but nowadays they have nothing to do with Multisite. The name actually translates to Must use-plugins (more info here: http://codex.wordpress.org/Must_Use_Plugins).

That being said, I'd just like to add my

[2015-02-10 13:59] pioneerskies commented on #117
@andyinabox @alisspers you're both right: this is really just a matter of misunderstanding! :P

I'm tagging this as a feature request and, yes, that shouldn't be hard stuff to implement :)

As always anyone feel free to open a pull request

[2015-02-11 20:26] modernmediagrp commented on #88
I'm having the same issue, when I check my yaml file with the lint service you provided, it seems to strip out allot as well as re arranges the structure, also i get this error with the suggested file from said service

/Library/Ruby/Gems/2.0.0/gems/wordmove-1.2.0/lib/wordmove/deployer/base.rb:25:in `deployer_for': You need to specify an environment with --environment parameter (RuntimeError)
	fro

[2015-02-11 20:44] delphaber commented on #88
Could you please try with http://codebeautify.org/yaml-validator ? Is it valid?

[2015-02-11 20:55] delphaber commented on #119
Could be a problem with `photocopier` gem. Have you tried to URL encode your password?

`Md5-e];97` becomes `Md5-e%5D%3B97` for example. Let us now!

[2015-02-11 21:00] modernmediagrp commented on #88
Yes that validates nice.
When I run 'wordmove push' I still get this error:

▬▬ ✓ Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
/Library/Ruby/Gems/2.0.0/gems/wordmove-1.2.0/lib/wordmove/deployer/base.rb:25:in `deployer_for': You need to specify an environment with --environment parameter (RuntimeError)
	from /Library/Ruby/Gems/2.0.0/gems/wordmove-1.2.0/lib/wordmove/cli.rb:56:

[2015-02-12 14:00] pioneerskies commented on #88
Probably `wordmove push -e younameit`; and I think this happens because you have multiple remote environments. Obviously "younameit" is the name you choose inside your `Movefile`.

In reply of another question: yes, the `.yml` is important :)

Let us know some good news ;)

[2015-02-12 14:03] pioneerskies commented on #121
I'll close due to the loss of iteration on the subject. Please feel free to reopen and reply when you'll have time :)

[2015-02-12 14:03] #121 closed

[2015-02-12 14:06] pioneerskies commented on #115
@nonchiedercilaparola news? :)

[2015-02-12 16:06] modernmediagrp commented on #88
Success!
I 'wordmove help push' expanded the list commands and I was a blue to get up and running. Also, I found another post were a user was using VVV vagrant and had a pre-provision script. I was able to get the gem's working on the Virtual Box and OS X 10.10. Thank for your help on this. If I had the link handy to the other post i would add it. Think it might help in the future.

Also, FYI. it

[2015-02-21 22:29] realves opened #125 "Help with pull --all"
Hi guy! I have installed wordmove and configurated my Movefile. When I pull from my site, no data was tranfered from online wordpress site. wordmove pull only db dump, and create the wordpress dir structure... how can i fix?
This is my Movefile:
local:
  vhost: "localhost"
  wordpress_path: "E:\\Vincenzo\\www\\wordmove\\iw\\htdocs\\" # use an absolute path here

  database:
    name: "iw" # Nome d

[2015-02-22 08:23] realves commented on #125
The www dir in wamp is located on a second partition. I create a link from C:\wamp\www to E:\Vincenzo\www. I don't that can be a problem... right?

[2015-02-23 10:40] pioneerskies commented on #125
To replay to your second question: I don't think it should be a problem.

Stranger is the path on your ftp server: @/htdocs/@. I think a good try could be to follow [these instructions](https://github.com/welaika/wordmove#ftp-support) and use both the parameters inside the @Movefile@.

Unfortunately working w/ ftp is actually a little pain...

Looking forward to hear some news from you :)

Cheers

[2015-02-23 11:11] pioneerskies commented on #88
Let try to guess something :)

* in order to exlcude themes from pull/push actions the only way you have is to list their path in the @exlcude@ section of the @Movefile@ like

[code]
remember you can use no more than one configuration (Movefile) file

* @-e staging_environment@ tells wordmove where to push/pull: Wordmove is a multistaging tool, so you can write as many sections as you need inside

[2015-02-24 15:54] rob-teamworks opened #126 "What's needed to run Wordmove on a clean install of Yosemite (Mac)?"
What things would need to be installed on a clean version of Yosemite (10.10.2) to be able to run Wordmove?

Does this work in conjunction with MAMP?

I'm new to all this but would love to get this working as it's exactly what we need.

[2015-02-24 19:46] pioneerskies commented on #126
:) Hi @rob-teamworks and thanks for enquiry :)

Wordmove completely ignores the web server (internally we don't use MAMP nor apache to develop WP sites). In order to run it you need just Ruby and it is shipped by default by Mac OS X.

All the remaining stack you need is just for running a WordPress installation and that is up to you and your flavours (at least for sure you'll have to install MySQL

[2015-02-25 09:12] rob-teamworks commented on #126
@pioneerskies Hi, thanks for the reply.

I've tried it out and I can see it'll be great, I've hit one issue though. It seems to fail when trying to push the database, the rest works fine. This is probably because I'm trying to get the local database from the MAMP setup with the following in the Movefile:

local:
  vhost: "http://localhost:8888/Test"
  wordpress_path: "/Users/robjones/Desktop/Websi

[2015-02-25 10:10] pioneerskies commented on #126
I felt free to edit a bit your comment in order to improve legibility; hope you'll appreciate.
I think we got it :) `sh: mysqldump: command not found`
You have not mysql's executables in your path; and I think this is due to some tweeks needed in order to use MAMP, since it is installed isolated from the system...let's look a bit in deep...

* probably if you type `mysqldump` in your terminal you'

[2015-02-25 10:45] rob-teamworks commented on #126
@pioneerskies Ok great... sorry, wasn't sure how to sort that out but thanks.

I'll give this a go today, I can see the theory behind it. I'll get back to you shortly.

Thanks again.

[2015-02-25 13:22] pioneerskies commented on #126
Ok, please, report here the contents of `cat ~/.bash_profile`, `cat ~/.profile` and `tail -n 5 ~/.bashrc` and at last `echo $PATH`. This way we should clarify why new instructions are not sourced.

[2015-02-25 13:35] rob-teamworks commented on #126
@pioneerskies Thanks very much for this:

[code]

[2015-02-25 14:41] pioneerskies commented on #126
Ok...first: in `.bashrc` you have doubled entries; please, remove those in excess.

Than try

[code]

restart your terminal and try to launch mysqldump.

I've also noticed you've RVM installed; since Wordmove is a gem it is installed probably inside an RVM's gemset and you are using an RVM's ruby, not the system one as per my first reply to your issue. This is just for clarification and correctnes

[2015-02-25 15:04] rob-teamworks commented on #126
@pioneerskies That's great, thanks very much.

It outputs what I expected, I just need to tweak the mysql permissions on my staging server to push the database but all looks great.

[2015-02-25 17:31] nonchiedercilaparola commented on #115
nothing i have to fix the homebrew error and than fix the rbenv error. i think i have installed too many things:(

[2015-02-26 10:09] pioneerskies commented on #115
Ok... I wish you better luck.
I'll close this ticket; feel free to request to reopen it.

Cheers!

[2015-02-26 10:09] #115 closed

[2015-02-26 10:10] pioneerskies commented on #126
Really really glad to hear those news! ^___^

Hope you'll enjoy.

Bye bye

[2015-02-26 10:10] #126 closed

[2015-02-27 12:51] Antoinebr opened #127 "Nothing happend when wordmove pull or push"
Hi i'm trying to use the script but for now that's a total failure.

Im on on MacBook Pro late 2012 10.9.5 and i use MAMP 3.05

I create a Movefile with wordmove init

This is my Movefile (i replaced all sensitive datas)
This seems valid on Yam validator

local:
  vhost: "http://localhost:8888/ltts/wordpress/"
  wordpress_path: "/Users/Antoine/Google - Drive/localhost/ltts/wordpress" # use an abso

[2015-02-28 12:11] mariojankovic commented on #127
I think you will want to use wordmove push --all.

[2015-02-28 13:49] mariojankovic opened #128 "Database push fails (Error 404)"
I've managed to upload everything except my database. Looking through all the other issues didn't help.

    remote | write /public_html/beta/wp-content/dump.php
        local | download http://masked.com/wp-content/dump.php?shared_key=MASKED > /vagrant/wordpress/masked/wp-content/remote-backup-1425131007.sql
        /usr/lib/ruby/1.9.1/open-uri.rb:346:in `open_http': 404 Not Found (OpenURI::HTTPE

[2015-03-04 10:31] mukkoo opened #129 "warnings with ruby 2.2.0"
~/.rvm/gems/ruby-2.2.0@wordless/gems/bigdecimal-1.2.7/bigdecimal.bundle: warning: already initialized constant BigDecimal::BASE
~/.rvm/gems/ruby-2.2.0@wordless/gems/bigdecimal-1.2.7/bigdecimal.bundle: warning: already initialized constant BigDecimal::EXCEPTION_ALL
~/.rvm/gems/ruby-2.2.0@wordless/gems/bigdecimal-1.2.7/bigdecimal.bundle: warning: already initialized constant BigDecimal::EXCEPTION_Na

[2015-03-06 21:26] allisongrey opened #130 "ssh_exchange_identification: read: Connection reset by peer Godaddy Cpanel"
I haven't had any issue using ssh with wordmove except with godaddy cpanel accounts. I can ssh in via terminal but when I try and do it with wordmove I get 'ssh_exchange_identification: read: Connection reset by peer'

Godaddy has said its something on my end, but I have run out of ideas.

Any help would be appreciated!

I had the same error when I tried to use a private key and when I tried just

[2015-03-07 10:09] pioneerskies commented on #130
Hi!
You should avoid using hardcoded password, overall because third party software components which handle the process are, imo, a bit flaky.

When you launch, let's say `wordmove push -l` you have on the STDOUT the underneath command, such as:

[code]

As you can see we use rsync with ssh connection; you should debug your connection using that command and tell your tech support about it. Wordmov

[2015-03-07 10:12] pioneerskies commented on #130
Consider also to take a look at this: http://stackoverflow.com/a/28339524/1275834

Cheers

[2015-03-12 22:04] robertjw1 opened #131 "wordmove pull -d fails"
I'm able to pull all the files from my server to my local dev environment, but the database pull fails.

wordmove pull -v -d

▬▬ ✓ Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

▬▬ ✓ Pulling Database ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
    local | mysqldump --host=localhost --user=username--password=password usernamewp> /var/www/andrewhall/wp/wp-content/local-b

[2015-03-12 22:07] robertjw1 opened #132 "wordmove pull -d fails"
I'm able to pull all the files from my server to my local dev environment, but the database pull fails.

[code]

[2015-03-12 22:09] #131 closed

[2015-03-13 15:10] pioneerskies commented on #131
Hi @robertjw1 ,

why have you closed the ticket? Was the problem already solved?

[2015-03-13 15:56] robertjw1 commented on #131
When I first pasted this I had some login information I didn't want in there.  I tried to edit it and accidently managed to make a duplicate, so I closed this one.  I apologize if that wasn't the right thing to do.

[2015-03-17 18:19] ivandoric commented on #93
Hey guys, any updates on this one? Just found about this gem today and I can already see it's going to make my workflow much easier. First push I did was a 30MB db. Took a long time to upload as you can imagine :) so I think adding this feature will make this gem almost perfect.

Also I think going with gzip initially would be great.

Gonna spread the word about this gem on my blogs.

[2015-03-18 08:46] pioneerskies commented on #93
We have plans to work on Wordmove though a few Fridays so it's possible that this feature will be planned for the next weeks and we hope before April will ends

[2015-03-18 09:15] ivandoric commented on #93
Thanks @pioneerskies . And once again, really great gem.

[2015-03-18 09:42] pioneerskies commented on #132
Hi @robertjw1 ,

if you try to run this command (w/ your correct credentials), what does it return?

[code]

[2015-03-18 09:43] pioneerskies commented on #130
News from there? :)

[2015-03-18 09:50] pioneerskies commented on #128
Sorry for the long waited reply... :(

This is an unknown development environment for me...so my troubleshoot would begin rally far away...

* http://masked.com is usually achievable?
* why are you using FTP method to access a vagrant machine? Isn't SSH more straightforward?

[2015-03-18 09:51] pioneerskies commented on #127
@Antoinebr any news from your side?

[2015-03-18 09:53] pioneerskies commented on #125
Hey @realves have you managed to put it at work?

[2015-03-18 16:00] robertjw1 commented on #132
Hi @pioneerskies!

Here is what I get

[code]

For some reason my server drops the connections with this message
`ssh_exchange_identification: Connection closed by remote host`

I have to run that command about 3 times to get it to work, looks like that was my initial problem and probably something to do with the server.

Looks like I'm now having the same problem as in #78

[code]

Tried the fix

[2015-03-20 00:40] delphaber commented on #95
This has ben fixed in https://github.com/welaika/photocopier/commit/f7a6549227e646786c1ed6b52423fc162ebab990 but unfortunatley we didn't release a new version of `photocopier` yet.

We are going to release it in the very next week

[2015-03-20 00:43] delphaber commented on #119
We fixed this in `https://github.com/welaika/photocopier`

We are going to release a new version in the very next weeks

[2015-03-20 00:52] #84 closed

[2015-03-20 00:53] delphaber commented on #84
Closing because `$error` could be printed to user. We should find another way one day :(

[2015-03-20 00:55] delphaber commented on #88
Can we consider this closed? :)

[2015-03-20 00:58] delphaber commented on #96
@gbell12 any news? :)

[2015-03-20 01:00] delphaber commented on #106
@joeguilmette any news? :)

[2015-03-20 01:04] delphaber commented on #110
@joeguilmette could you please write down a wiki page about this? Thank you very much for your work!

[2015-03-20 04:10] gbell12 commented on #96
I don't believe anybody's waiting on me for anything...

[2015-03-20 13:37] pioneerskies commented on #96
@gbell12 I think @delphaber "pinged" you because the troubleshooting process was interrupted w/o a good ending. We would be pleased to continue helping you or eventually close the ticket if no help is needed anymore.

[2015-03-20 20:37] delphaber commented on #127
Should we consider to warn user when he/she runs wordmove `push` or `pull` withouth any options?

[2015-03-20 21:19] gbell12 commented on #96
I edited all my comments to properly enclose code as per one of the comments above.

Last comment was "I've looked into the code and i can just confirm that Wordmove isn't reading your movefile's ssh section for some arcane reason"

Not sure what else I need to do.  A stack dump is obviously not a great thing for the user to see, but conveys a lot of info to the devs, so I'm thinking that's all th

[2015-03-22 08:48] #88 closed

[2015-03-23 10:07] pioneerskies commented on #96
Ok. The only un-replied question was actually `Are you running the wordmove command from the correct folder?`. We will assume "yes" when doing the next debugging rush on the software.

Just as a memo to developers: another, non noticed by the user, difference between original YAML and my reformatted YAML was

[code]

vs

[code]

Would be good to try to reproduce the error w/ that configuration.

C

[2015-03-23 20:01] gbell12 commented on #96
Because of the absolute paths, I wasn't aware that it needed to be run from a particular place.
If I indent my ssh: section, it runs, instantaneously giving this output:

[code]
Which I don't think is actually doing anything unless my internet connection has been upgraded to "instantaneous" :)

[2015-03-24 10:22] pioneerskies commented on #96
Hey @gbell12 overall I'm glad we went some steps further +1

About pretty confusing messages, we are aware of it as per #127 and we'll work on that.

About your output I think you are in a similar situation to the aforementioned issue:

[code]

you have to invoke `pull`/`push` commands followed by one of the flag from `wordmove help push`, e.g.:

[code]

If I am not on the right way we would consi

[2015-03-26 16:08] regs79 opened #133 "SFTP Support"
Is there anyway to enable SFTP with wordmove?

I can't see any configuration option for it, but it seems like there should be one as photocopier has support.

[2015-03-26 16:25] endorama commented on #133
Hi! Currently no ( @delphaber correct me if I'm wrong ).

Wordmove uses [Photocopier](https://github.com/welaika/photocopier) gem at version 0.0.10, which does not support SFTP.

There is already an issue https://github.com/welaika/photocopier/issues/14 for SFTP support, has been implemented and Photocopier has been updated to `1.0.0-pre` for testing. I didn't had time to test this myself, so is s

[2015-03-27 15:23] regs79 commented on #133
Hi!

Thanks for the response. I'm not much of a Ruby guy but I think I've worked it out.

I installed the `1.0.0-pre` initially but couldn't get wordmove to talk to it although I changed all references to the version.

What I ended up doing was going to looking at the changes in the last [commit] (https://github.com/welaika/photocopier/commit/38bb458b72bb494ce9378d08678fe72def7b95a1) and added the

[2015-03-28 18:58] delphaber commented on #133
Thank you @endorama @regs79  :)

Next release of wordmove will use photocoper 1.0

[2015-03-28 18:58] #133 closed

[2015-03-28 18:58] delphaber commented on #129
Cannot reproduce with ruby 2.2.1

[2015-03-30 10:31] Kinsi opened #134 "553 error Ftppermerror"
Hello.
I don't make your gem work.
I'm on windows (no rsync) and with a mutualised server (OVH => SSH hard to have)... what can i do ? Or what am i doing wrong...

I have this time always this kind of error:

(pushing database part):

remote write /essai/wp-content/dump.php
c:/ruby21-x64/lib/ruby/2.1.0/net/ftp.rb:327:in 'getresp' : 553 can't opent that file: No such file or directory (Net::FTPPerm

[2015-03-31 17:56] joeguilmette commented on #110
Done! And funny enough, I saw your request here after I just went ahead and did it.

#twilightzone

[2015-03-31 18:05] joeguilmette opened #136 "Discussion: automated deployments"
I was wondering if anyone has managed to automate wordmove deployments with git hooks/tags, or something like that.

[2015-04-03 12:26] delphaber commented on #134
Hi.

Wordmove has not been tested on windows and probably never will because we use *nix systems in our daily workflow.

Anyway, your error is a FTP error. Google says:

The 553 error code is coming directly from the remote FTP server.  The file name is not allowed.

Many FTP servers have restrictions on file names.  If your file name contains special characters, symbols, or spaces in the file nam

[2015-04-03 12:41] delphaber commented on #110
Hi! Thank you very much!

[2015-04-03 12:41] #110 closed

[2015-04-03 12:42] delphaber commented on #110
[Link to wiki page](https://github.com/welaika/wordmove/wiki/Getting-Wordmove-installed-in-VVV-(or-any-Vagrant))

[2015-04-03 13:10] delphaber opened #137 "Use relative path for local environment"
Commit b0be2f9faf1be4de23222e49dbbf3abb0be34fa7 introduced a note in the Movefile template: "User an absolute path here".

@Arkham do you remember why?

I think that, locally, it could be useful to use relative path when working with other developers

[2015-04-03 14:57] delphaber opened #138 "wordmove should warn you when no options are given"
If you run `wordmove pull`or `wordmove push`without any options, `wordmove`should warn you about that

[2015-04-03 14:58] delphaber commented on #138
Related to https://github.com/welaika/wordmove/issues/127 and (part of) https://github.com/welaika/wordmove/issues/96

[2015-04-03 16:06] delphaber opened #139 "Add --environment to Readme"

[2015-04-03 16:13] delphaber opened #140 "Show warning if Movefile is not a valid yaml file"
Rescue `Psych::SyntaxError`and show a message to the user

[2015-04-03 20:21] dsmy opened #141 "wordmove push/pull error with mysql.sock"
I get the following error whenever trying to do a push or pull. mysqldump: Got error: 2002: Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2) when trying to connect (RuntimeError)

Any ideas?

[2015-04-04 13:58] Arkham commented on #137
IIRC it wasn't working :)

[2015-04-04 18:16] delphaber commented on #141
Did you try to define `host: 127.0.0.1` for loca database configuration in Movefile?

[2015-04-06 03:30] joeguilmette commented on #106
Kinda - I've made some progress but been pretty busy! When I finally get this sorted I'll add a wiki for using Wordmove with EasyEngine, which is what I'm trying to do here.

What do you guys do for this? How do you deal with permissions/ownership on remote?

[2015-04-06 03:48] joeguilmette opened #142 "Executing arbitrary code in remote/local on push/pull"
I was thinking that it would be really neat to be able to have wordmove execute commands before or after a push or pull, dependent on environment. With this functionality, Wordmove will be become instantly more extensible and able to integrate with just about any other tool or API.

This could be configured in the Movefile like so:

[code]

And an example script (local:/etc/scripts/slackupdate.sh)

[2015-04-06 14:14] dsmy commented on #141
Yes I did.

[2015-04-09 15:12] Kinsi commented on #134
Thx!

[2015-04-09 15:48] delphaber commented on #134
Can we close this issue then? ;)

[2015-04-11 13:51] taichi2000 commented on #96
Yes, for me that was the issue: YAML Indentation. I put ssh config entry as at the same level for staging node, but it should be as a child of it. Oh gosh. It is working fine now.

[2015-04-14 20:53] jontrujillo commented on #10
I know this issue is closed but i ran into an issue with this and i found that i needed to install sshpass this link was helpful. https://gist.github.com/arunoda/7790979

[2015-04-15 20:56] kinnedev opened #143 "Using wordmove with Desktop Server"
I am getting an error when trying to push all to remote server.

mysqldump: command not found

I am using Desktop Server as my local environment.

Thank You

[2015-04-16 09:05] pioneerskies commented on #143
Personally I have no idea what Desktop Server is, I'm sorry.
Anyway `mysqldump` is a standard command shipped w/ the MySQL installation; in order to let Wordmove use that executable you must have it inside your $PATH and be able to launch it right from your command line.

You can discover if it is in your $PATH using `which mysqldump` command; if nothing is returned than you're experiencing enviro

[2015-04-16 09:05] #143 closed

[2015-04-16 09:08] pioneerskies commented on #10
Thanks for commenting, but please, keep this in mind: https://github.com/welaika/photocopier#password-gotchas

Cheers

[2015-04-16 22:04] josephbergdoll commented on #117
+1

[2015-04-17 12:05] garypburton commented on #72
+1 From me also. Would be great to have support for this.

[2015-04-18 12:30] rush4ratio opened #144 ""Cannot load such file --dl/import (LoadError)""
Great Job!
Unfortunately, using Windows 8.1, with the pull command and I get this error. I'm using this version of rsync: https://www.itefix.net/content/cwrsync-free-edition
![capture](https://cloud.githubusercontent.com/assets/7237203/7215422/ccd38e2a-e5df-11e4-9fb9-b82d3582f2e9.JPG)

[2015-04-20 17:18] jasonlmann opened #146 ""wordmove init" not working in site directory"
Running MAMP Pro on a Mac, OS X 10.10.3

My web root for local sites is in ~/Sites. I installed Wordmove in that directory by cloning the repo, moving into the "wordmove" directory and then "gem install wordmove"

However, when I move to a different directory for one of the local sites:
[code]
I get the response "-bash: wordmove: command not found"

I'm sure I'm missing something simple here, but

[2015-04-21 08:24] torounit commented on #117
+1

[2015-04-21 10:39] squaremunkey opened #148 "same issue with desktopserver and mysqldump"
Just to let you know i am have a similar issue with creating the mysqldump locally
sh: mysqldump: command not found
I am using desktopserver as local environment

[2015-04-21 10:50] Arkham commented on #148
Hey there, I think this has already been addressed here: https://github.com/welaika/wordmove/issues/143

I would suggest you to contact DesktopServer support to figure out where mysqldump is in your system.

[2015-04-21 10:50] #148 closed

[2015-04-21 16:19] spanndemic opened #149 "RSpec deprecation warnings"
I'm just getting back into Wordpress, and love this tool you have created!

Minor issue, but when running both sql_adapater_spec.rb and base_spec.rb, there are deprecation warnings for the following commands: 'should', 'should_receive', and 'stub', which are deprecated as of RSpec 3.

I have a Pull Request in updating these scripts to the new syntax:
https://github.com/welaika/wordmove/pull/147

T

[2015-04-21 16:40] jasonlmann commented on #72
+1. @nlemoine I have a similar setup. (I used Mark Jaquith's WP-Skeleton to add Wordpress as a Git submodule.)

When I try your method above like this:
'''
  paths: # you can customize wordpress internal paths
    wp_content: "../content"
    uploads: "../content/uploads"
    plugins: "../content/plugins"
    themes: "../content/themes"
'''
The directory it looks for is:
'''
 :/home/jasonlmann/wwf

[2015-04-21 16:49] jasonlmann commented on #146
You can close this. I updated RVM, then reinstalled Wordmove, and suddenly everything worked.

[2015-04-21 16:50] #146 closed

[2015-04-21 23:13] gbell12 commented on #96
Working fine now.  Needed a -t.  Thanks for the support and the awesome tool!

[2015-04-22 08:49] pioneerskies commented on #117
@delphaber due to the popularity of this feature we should consider to insert it in the next milestone and eventually "snooze" the due date. We could talk about this the next Friday.

[2015-04-22 09:23] endorama commented on #117
@pioneerskies @delphaber count me in if you need some help implementing this feature! :)

[2015-04-23 03:39] charmcat commented on #129
I'm having the same issue above.

[2015-04-23 04:26] pennantcreative commented on #103
I am experiencing the same issue. My transfer also gets hung up after the error. Was there a fix for this?

[2015-04-23 18:44] squaremunkey commented on #143
Found a solution to the problem just add this to your terminal before wordove push

export PATH=$PATH:/Applications/XAMPP/xamppfiles/bin

[2015-04-24 18:59] charmcat opened #150 "Error when using Movefile"
[code]

[2015-04-25 03:04] jackmost opened #151 "Database push issue"
[code]

**This is the output, no errors, everything seems fine but database is still empty. ???**

[2015-04-25 08:02] pioneerskies commented on #151
Hi!

If you invoke `mysqldump --host=localhost --user=user --password=pass dbtest`in your terminal you'll see your local DB content on STDOUT; what's in there? Can you see database contents or just the structure?

[2015-04-25 08:04] pioneerskies commented on #150
Hello @charmcat ,

in order to help we need to have 1) the command you launched 2) your Movefile (remove sensible data from it before to post)

Thanks in advance

[2015-04-25 15:14] jackmost commented on #151
Hi,
Thanks for your help.
I see all the contents.
I checked the dump.sql file that is created by wordmove push, and all is there, import.php seems ok, too. But it looks like import is not being executed.

[2015-04-26 11:00] joeguilmette commented on #142
I'm no ruby dev, so this is obviously beyond me. But it'd be useful enough that I'm willing to hire a dev on Elance or oDesk or whatever.

Do you guys think that this would be reasonably simple to implement by decent Ruby dev?

[2015-04-26 19:14] delphaber commented on #142
Hi @joeguilmette :) Yep, I think it reasonably easy to add this feature.
We have to think about it and decide if it should be implemented it for the 1.3 release or not ( @pioneerskies )

[2015-04-27 13:46] joeguilmette commented on #142
Well, I'm willing to pay for this feature. If you guys don't have time,
like I said I am more than happy to go on oDesk.

Glad to hear you guys are receptive to adding it!
On Sun, Apr 26, 2015 at 9:14 PM Fabrizio Monti <notifications@github.com>
wrote:

[2015-04-27 20:54] charmcat commented on #150
The command was "wordmove pull -e live --all". Here's the redacted Movefile:

[code]

[2015-04-28 02:30] jackmost commented on #151
Problem solved.
It was MySQL version compatibility issue. Specifically tables collation.

[2015-04-28 09:43] stuzzo commented on #144
Hi @rush4ratio, have you tried this http://stackoverflow.com/questions/28896733/rhc-setup-gives-error-no-such-file-dl-import ?

[2015-04-28 19:20] pjackson1972 opened #152 "Add mysqldump options to Movefile?"
I'm new to WordMove, and hoping you can point me in the right direction.

I'm getting the following when dumping the remote database: Error 2020: Got packet bigger than 'max_allowed_packet' bytes

I have a case where my staging database includes records that exceed the default max_allowed_packet size.  Because of the host permissions, I can't edit the .ini file, and normally get around this by add

[2015-04-28 22:57] aks commented on #129
I have the same bug (with BigDecimal 1.2.7)

[2015-04-30 01:39] alexisleblanc opened #153 "Authentication failed"
Hey there.
First thanks for this awesome wordmove, I can't wait to make it work haha.

Everything seems to work fine except the database. If I upload images for examples, it goes from my local to the server no problemo. I connect via SSH.

But for the Databse, I get this error:
▬▬ ✓ Pushing Database ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
   remote | mysqldump --host=localhost --user=us

[2015-04-30 14:28] alexisleblanc commented on #153
Ok I got it working.
I simply update my ruby version to 2.2.2
Then I got the mysqldump command not found.
I'm using DesktopServer so I added this to my Path and everything worked like a charm.
export PATH=$PATH:/Applications/XAMPP/xamppfiles/bin

This is my first post to Github, what do we do with issue that are solved ? Should we delete this one or leave it for future users ?

Thanks for the awes

[2015-05-01 17:37] Jordan4jc opened #154 "Images are not showing on server"
When I run `wordmove push -t` to push theme files everything works fine, but I'm not having some issues where the server doesn't see the images as being present. If I SSH into the site and `ls` the images folder I see the images are there, but when I go to the directory in the browser, they aren't there, and thus I'm getting 404 errors on the front end of the site saying it can't find them either.

[2015-05-01 17:48] Jordan4jc commented on #154
Figured it out just now, I used a website to generate favicons which downloaded as a zip file, the unzipped folder had permissions set unlike when I create a new folder, so I just set the permissions on the folder locally to the same as when I create a folder manually and pushed again, problem sovled, very strange though, I'm sure it's not related to wordmove.

[2015-05-01 17:48] #154 closed

[2015-05-03 16:31] WinkingFrog opened #155 "Local path name with spaces causes mysqldump errors"
I've nearly got things up and running but I am having a problem with mysqldump and my local path structure...

My local dev setup is in a folder structure where I have spaces in the name of my folders. When I try and run a wordmove command I get errors relating to the incorrect parsing of the path, namely a mysqldump: Couldn't find table: "folder" - where folder would be the word after the first s

[2015-05-04 09:04] pioneerskies commented on #153
@alexisleblanc glad you solved all those issues! :)

We'll close the issue and it will be in the archive for further reading by others w/ similar problems.

Cheers

[2015-05-04 09:04] #153 closed

[2015-05-04 09:27] pioneerskies commented on #151
We've tried to write something about error reporting, but grab mysql errors when working via FTP would be a really big effort (probably extending the third party php library we use there) due to software design.

Thanks for sharing your troubleshooting w/ the rest of us! :+1:

[2015-05-04 09:27] #151 closed

[2015-05-04 13:56] oterox opened #156 "Pull selected theme"
Hi,

is it possible to get just one theme, something like:
wordmove pull -e staging -t "selectedtheme"

Instead of getting all themes?

This would be very useful as we can have some themes but be working only on one of them.

[2015-05-05 06:01] joeguilmette commented on #156
What would be the benefit of this? To save time on the download?

[2015-05-05 07:53] oterox commented on #156
yes, lets say you have 10 themes, why to download all if you're only
working on 1
The same for plugins. Some clients have 20+ plugins, why to download/upload
all if you just need one?

Speed is important too.Lets say i'm working on the airport or the hotel,
the speed would probably be really bad.

Its similar to working with databases.You always have commands to apply to
one table, not all tables

[2015-05-05 08:29] nlemoine commented on #72
@jasonlmann, sure, it should work this way.

`/home/jasonlmann/wwf.kinggin.com/wp/../content/themes`
equals
`/home/jasonlmann/wwf.kinggin.com/content/themes`

Are you certain that the directory exists?

[2015-05-05 23:29] nonchiedercilaparola commented on #115
i'm a stupid...i used rbenv to install ruby because i wanted use multiple version of ruby. I simply have to install "mri version" and use this to install wordmove. i'll try.

[2015-05-07 09:21] pioneerskies commented on #156
Hi there!

You're ideas is obviously nice; let me enumerate some points anyway:

1. If you have 10 themes you delete (or advice to delete) 9 of them, from my point of view. First of all from a security perspective.
2. choose a single theme or a single plugin will bring us to support multiple plugins/themes also. We should consider to implement widest possible approaches in order to satisfy a wider

[2015-05-07 09:25] pioneerskies commented on #115
I'm glad you have a path to follow.
Let we know about your success if you'll have the time ;)

[2015-05-07 09:28] oterox commented on #156
hey,

3) Absolutely!!! it probably would be awesome if you could add some samples
to the documentation to use "rsync-options"

I'm using rsync alone and works nice but now that i've discovered Wordmove
i LOVE it :)

On 7 May 2015 at 11:21, Alessandro Fazzi <notifications@github.com> wrote:

[2015-05-07 09:34] pioneerskies commented on #156
Glad to hear that. As per the readme:

[code]

The problem at the moment is that the underlying `photocopier` gem was unable to handle multiple arguments, as per the issue. I'll ask @delphaber about the release status of the last version of `photocopier`, which will support an array as argument:

[code]

That way we **should** be able to customize rsync just as using it directly from the cli.

And

[2015-05-11 13:38] esad opened #157 "Issues when wordpress_path is "/""
If wordpress install lives in a root directory on a remote server, Movefile looks something like this:

```wordpress_path: "/"```

However, this will cause all kinds of problems when the database dump is adapted, as all instances of slash are replaced with local wordpress path.

Perhaps we could detect root path as special case and skip replacement of remote paths?

[2015-05-12 07:53] pioneerskies commented on #157
Hello @esad !

I don't want to be rude at all, but if you really have an installation in the root of a VPS or bare metal server, the problem lives in your server setup! :)

Are you sure that is not just a relative path where you're jailed via FTP / SFTP jailing? If that's the case, you can and should retrive the absolute path as per this paragraph of the README: https://github.com/welaika/wordmove

[2015-05-12 16:10] alexisleblanc opened #158 "adapt dump"
Hi !
No sure where my problem come from. Everything was working perfectly last week and now, it seems that when I push my DB, wordmove doesn't replace the url.
When I look at my wp_options in phpmyadmin, the siteurl and sitehome entered by wordmove avec my localhost adresse. If I change them manually to the right one via phpmyadmin and then push my DB again, it change back to localhost.
Other than

[2015-05-13 09:58] esad commented on #157
Hi @pioneerskies, it's not a VPS but shared hosting, where my user is chrooted to a virtual "/" directory. I know that a workaround would be to move wordpress install into a subdirectory, but the hoster is so crappy that it's not possible to serve the root of the website from a subdirector :( Is this really such an uncommon use-case?

[2015-05-13 10:00] esad commented on #151
I also got bitten by this today. The issue is that wordmove says nothing even if import.php fails. As we already download the output of running import.php, we could do perhaps some basic error checking?

[2015-05-13 21:12] jontrujillo commented on #158
I've been having this issue too. Did you happen to figure it out?

[2015-05-13 22:24] alexisleblanc commented on #158
Haven't been trying to fix it yet. I just bypassed it by defining the wordpress URL and HOME in my config file on my server so Even if the Database option are set to the localhost, I still can export my wordpress online and everything work.

[2015-05-14 13:39] pioneerskies commented on #158
@jontrujillo are you also experiencing the problem only within the last week?
@alexisleblanc have you upgraded anything? Any gem? MAMP, MySql, you know what?

Cheers

[2015-05-14 13:53] alexisleblanc commented on #158
I haven't updated anything like gem, Mamp, mysql or things like that.
I'm using a DigitalOcean server that I manage with serverpilot. Previously, I was using my server ip adresse to access my website but I changed it to use a domain name instead. This is the only change I've made.
I updated my Movefile so that my staging vhost use the new domain name.

This morning I pulled all my wordpress from m

[2015-05-14 13:54] pioneerskies commented on #157
Have you ever tried to `var_dump(__FILE__)`?
It's not an impossible case, but usually you should be able to retrive the path. At least, AFAIK, most crappy hosting have an html dir, anyway :)

Let me know

[2015-05-14 14:07] pioneerskies commented on #158
Ok; update here when you'll have more results from tests.

Looking forward to read your news

[2015-05-15 22:40] rotexhawk commented on #103
Same here. I get the error message. I tried deleting the folder to see if it will create it but didn't seem to fix the issue. For me the process continues but nothing gets uploaded.

It will be great to get a solution for this.

"WordMove" is awesome. Great job guys...

[2015-05-16 18:28] webbrouwer opened #159 "Parse Error? How to set up Wordmove properley on a mac with vagrant."
Hey!

Working on the setup for wordmove. Set it up with VVV tips from the wiki. The following comes up when given the `wordmove push --all`:

[code]

Hope you can help me out, really would like to get this thing going!

Have a good one.

Mickey

[2015-05-17 02:01] joeguilmette commented on #159
Here you go! https://github.com/welaika/wordmove/wiki/Getting-Wordmove-installed-in-VVV-(or-any-Vagrant)

Let me know if you have any questions

[2015-05-17 09:50] webbrouwer commented on #159
Hey, thank you for the response. I've set it up by following the steps from the wiki. Unfortunately the error shown in the previous comment has shown up.

From this point I go blank.

Also tried to install in trough rvm, but the same error came up. Did I install it in the wrong location?

[2015-05-17 15:23] sulram opened #160 "wp-options "siteurl" and "home" not changed on pull command"
hello! thanks for this wonderful script

sometimes "siteurl" and "home" options are not changed on pull command.

is that related to websites that vhost is not a domain, when it resides inside a directory?

best,

Marlus

[2015-05-17 15:30] alexisleblanc commented on #158
Ok,
So I initialized a new project and the problem is there. When I push and visit my domain, the page cannot be loaded becaus it look for url.com:8888 and when I try to access the Wordpress admin, with wp-admin or wp-login.php, I get redirected to my localhost.
I really have no clue of what is happenning .....

[2015-05-18 08:59] pioneerskies commented on #158
Is it a MultiSite enabled installation?

[2015-05-18 09:02] pioneerskies commented on #159
I think this a problem w/ the `Movefile` YAML. Could you share it w/ us (thrown out sensible data)?

[2015-05-18 09:15] dmassiani commented on #119
Ok, Thank you !

[2015-05-18 09:15] #119 closed

[2015-05-18 09:26] pioneerskies commented on #103
[code]

Testing the same `pull` as the reported one:

[code]

You can see in the produced command

    mkdir -p /htdocs; cd /htdocs;

and the consequent response

    mkdir: Access failed: 550 /htdocs: File exists

Re-launched the same command; the expectation is a 0 file transfer, because already up-to-date with the remote env

[code]

The 550 "error" is always there and any file transferred; as

[2015-05-18 11:14] alexisleblanc commented on #158
No, its a very simple straight foward installation made with wp-cli

[2015-05-18 16:23] webbrouwer commented on #159
Hi pioneerskies,

It was indeed the `Movefile`. Also I had to update rsync, after this it worked! Awesome feeling after days of trying!

Thank you for creating wordmove

[2015-05-18 16:33] rotexhawk commented on #134
I am getting the same error on my mac. I am trying to push the database.

▬▬ ✓ Pushing Database ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
   remote | write cyberser/public_html/test/wp-content/dump.php
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/ftp.rb:326:in `getresp': 553 Can't open that file: No such file or directory (Net::FTPPermError)
	from /System/

[2015-05-19 21:37] jontrujillo commented on #158
It was probably just an issue with my Movefile, I was able to get it working when i deleted it and re-initialized the file and reconfigured the settings.

[2015-05-19 22:22] silentlight opened #161 "Avoid setting permissions"
Hi there!

I am trying to move my Wordpress theme to a staging server (using SSH), but I do not want to set permissions on moved files. How can I achieve this? I don't think that there is a way to pass -p option to rsync.

Many thanks in advance.

[2015-05-22 01:49] paperrobots commented on #161
I'm having a permissions issue as well. It pushes the files to the staging server fine, but all my permissions break.

[2015-05-22 02:43] paperrobots commented on #132
I'm also having the same issues as #78. I don't really know how to change the ruby file, pretty new at this.

I changed all my tables to UTF-8 but still getting the error.

    /usr/lib/ruby/gems/1.9.1/gems/wordmove-1.2.0/lib/wordmove/sql_adapter.rb:44:in `gsub!': invalid byte sequence in UTF-8 (ArgumentError)
	from /usr/lib/ruby/gems/1.9.1/gems/wordmove-1.2.0/lib/wordmove/sql_adapter.rb:44:in `se

[2015-05-22 08:19] delphaber commented on #132
Hi @paperrobots. Changing default encoding for a table does not change encoding for single column. Could you please check if is there any column with charset != utf8?

Anyway, we think we should not force you all to convert your database. We are trying to fix this in 1.3 branch by setting the right encoding (chosen by you) in all the process

[2015-05-22 10:06] tjaadvd commented on #160
I have seen this behavior also recently. Could it be due to a new version of Wordpress?

[2015-05-22 14:09] nailbrain opened #162 "rsync error: error in rsync protocol data stream (code 12)"

[2015-05-22 14:24] nailbrain commented on #159
I am having the exact same problem with the same error. How did you resolve it beyond running the update. My rsync is up to date.

I don't have vagrant or anything installed so I am just running wordpress on my local machine with MAMP.

I generate my movefile with wordmove init.

Here is my movefile:

`local:
  vhost: "http://vhost.local"
  wordpress_path: "/Users/brettgolding/Dropbox/htdocs/thela

[2015-05-22 14:32] paperrobots commented on #132
I found an article saying that Wordfence conflicts with Wordmove. Sure enough I uninstalled it and all the Wordfence tables from my database and it worked fine.

[2015-05-22 18:24] luisbraga opened #163 "// Silence is golden on wp-content"
Shouldn't wp-content folder have this index.php file on push?
Also I've seen some plugins using wp-content for storing files. Should this also be taken into account?

[2015-05-25 09:36] palicko commented on #159
@nailbrain you have to uncomment #ssh and check your text intending

[2015-05-25 13:26] nailbrain commented on #159
@palicko ssh is not commented out and text indenting hasn't changed.

Sorry could you check out my other post if you have time? https://github.com/welaika/wordmove/issues/162

[2015-05-26 12:08] jirsbek commented on #155
Exactly the same problem here. I also have spaces in my local wordpress path.

I've tried "local/path/with\ space" but not success.

Is there any other way how to escape space character in terminal?

[2015-05-27 20:00] frangelli opened #164 "How to i move from staging to production env?"
I saw that inside the Movefile we can define multiple environments. But i couldn't figure out how to move from staging to production.

Can anybody tell me if is it possible?

[2015-05-27 20:48] frangelli commented on #164
Sorry, my bad! Just got how to do!

[2015-05-27 20:48] #164 closed

[2015-05-28 14:42] pioneerskies commented on #164
Plz, @frangelli , if you feel something smtng's not user friendly in the readme, feel free to send us a pull request w/ improvements :)

Glad to see you're enjoying Wordmove.

Cheers

[2015-05-28 14:45] pioneerskies commented on #155
having spaces in paths on a Unix based OS is a really bad behaviour, IMHO.

Anyway I think wordmove should be able to do some level of escaping. We'll try to check something around it

[2015-05-28 14:51] pioneerskies commented on #159
@nailbrain, plz, you should post your `Movefile` as code here in the issue

[code]

or we won't be able to check the syntax: YAML is indentation sensitive language.

Moreover in this snippet

    # ssh:
    host: "websouthend.co.uk"
    user: "websouthend.co.uk"
    password: "my_ftp_password" # password is optional, will use public keys if available.
    port: 22 # Port is optional

the key `ssh`

[2015-05-28 14:55] pioneerskies commented on #132
Sorry to be silly, @paperrobots , but what Wordfence is? If there are some incompatibilities it should be a good choice to open an advertising in the wiki... :\

[2015-05-28 15:05] pioneerskies commented on #162
Before to look at your `Movefile` I'd like to give you a little advice: if you are working w/ MediaTemple it'll never happens that you'll have a path like `/domains/websouthend.co.uk/html/`, but you'll more realistically have smtng like `/nfs/cxx/hxx/mnt/xxxxxxx/users/.home/domains/websouthend.co.uk/html/`

Plz, check your absolute path using the following command adapted to your credentials

[cod

[2015-05-29 15:13] nailbrain commented on #162
Thanks pioneerskies but I updated my path and am still getting thrown a bunch of errors.

`▬▬ ✓ Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Ignoring eventmachine-1.0.3 because its extensions are not built.  Try: gem pristine eventmachine --version 1.0.3
Ignoring mysql2-0.3.15 because its extensions are not built.  Try: gem pristine mysql2 --version 0.3.15
Ignoring sqlite3-1

[2015-05-30 00:53] jirsbek opened #165 "Disable database backup"
Hello!

First of all let me thank you for great tool.

I would like to know if there is any way how to disable database backups? I already backup database different ways so after every push/pull I have to delete exports.

[2015-06-03 11:10] pioneerskies commented on #134
@rotexhawk we assume the path `cyberser/public_html/test/wp-content/` doesn't exists.
Please ensure you correctly setup relative and absolute path in `Movefile`

[2015-06-03 11:15] pioneerskies commented on #158
I've just re-red the whole discussion....but...I can't manage to get a clue on the problem. I'm so sorry, but still having few input to perform a sort of troubleshot :(

[2015-06-03 11:19] pioneerskies commented on #161
Said that permissions are a server-side system administration problem, I'm glad to remember that you can pass `-p` option to rsync through `Wordmove`

    #   rsync_options: "--verbose" # Additional rsync options, optional

check it out on the example file in the README, under the `Movefile`'s ssh section.

Hope it helps! ;)

[2015-06-03 11:19] #161 closed

[2015-06-03 11:25] pioneerskies commented on #160
Well, guys, we're very thankful for you issues, but in order to make them 100% useful we'd need some scientific details or we won't be able to make a troubleshoot.
For example: what the two values are in the database in both local and remote environment before and after the substitution? what is the WP version? And so on...

As it stands we're totally blind. Thank you very much for any effort you'

[2015-06-03 11:28] pioneerskies commented on #163
1. It should if it exists; otherwise it will delete it remotely
2. We've encountered such plugins sometimes (wp-super-cache?); personally I disagree with the approach; anyway you should take it into account. Perhaps excluding the transfer of those file within `Movefile`

Feel free to reopen/continue the discussion as you need.

Cheers

[2015-06-03 11:35] pioneerskies commented on #162
Well...trying to keep on :)

1) never post output containing passwords! Please, edit your posts and delete the password
2) do not use sshpass if you're working w/ SSH, use pubkey authentication instead. sshpass is a bit un-secure and the workflow using pubkey auth is really straightforward
3)

    "/Dropbox/htdocs/thelanguagepeople/wp-content/languages/." failed: No such file or directory (2)
0 fi

[2015-06-03 11:42] pioneerskies commented on #165
Hi @jirsbek
We're happy you enjoy Wordmove :+1:

Actually the tool can't disable db backups (but we are working on gzip-ing them). If I were in your shoes I'd write a small wrapper script such as

[code]

I'm declining all sort of responsibility on the `rm -f` command :P ;)

Cheers

[2015-06-03 11:42] #165 closed

[2015-06-03 11:50] alexisleblanc commented on #158
Unfortunatly, I had to switch on other projects so I can't help you with more information. I'll keep you inform as soon as I have so use wordmove again.
As I asked, is there a way to verify the work that the adapt dump do to the database ?

Thanks for the feedback !

[2015-06-03 16:11] luisbraga commented on #163
Thank you,

1. The file exists but it's not being uploaded on push. Same applies for other files created for testing.
2. Same for existing folders other than the default wordpress install. They don't get uploaded.

What could be wrong?

[2015-06-03 16:32] pioneerskies commented on #163
I'll do a fast check into the code to give you a more precise answer.

[2015-06-03 16:33] luisbraga commented on #163
Just noticed in the log that "wordmove push --all" adds wp-content/* to the exclude list

▬▬ ✓ Pushing wordpress core ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
   remote | put_directory: /local/path/ /remote/path/ .git/ .gitignore .sass-cache/ bin/ tmp/* Gemfile* Movefile wp-config.php wp-content/*.sql .DS_Store node_modules/* bower_components/* wp-content/*

Is this expected when pushing all ?

[2015-06-04 17:05] defaria commented on #158
I am using wordmove for the first time on a test wp setup. I am having the same issue. If I try to access the remote site, I get a 500 error. When I try to access the admin I get redirected to localhost. I checked the database and the options table has the localhost url.

When I run wordmove push -d I get the following:

▬ ✓ Pushing Database ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
   re

[2015-06-04 22:08] defaria commented on #118
I have the same exactly same issue. I get a language folder inside wp_content with the entire wp core again.

[2015-06-04 22:13] defaria commented on #158
I had a ending "/" in my local url. Once I removed the "/" the urls updated correctly.

[2015-06-06 16:58] gwelser commented on #133
Any word on upgrading to Photocopier 1.0 so we can enable SFTP?

[2015-06-08 15:57] yuranikolaev commented on #161
Hi!
Get the same thing.
Just pass the argument --chmod=ugo=rwX in Wordmove file

From rsync docs:

[2015-06-09 00:56] silvioheinze commented on #132
Wordfence is a plugin (https://wordpress.org/plugins/wordfence/) which seems to be the problem. Had the same issue with it. After dropping the wordfence tables in the database everything is fine again.

[2015-06-09 07:45] pioneerskies commented on #161
Tnx @yuranikolaev for pointing that out

[2015-06-09 07:59] pioneerskies commented on #132
@silvioheinze your feedback is really appreciated.

I quote what @delphaber wrote in [previous comment](https://github.com/welaika/wordmove/issues/132#issuecomment-104562034). The encoding problem goes easily on steroids if plugins add mysql tables w/ different encoding. We noticed even some translated wordpress sources install tables w/ encoding other than UTF-8. The hell...

I'm going at least t

[2015-06-10 18:55] ckboyle opened #166 "Help with db push (Error 1273 - collation related)"
Forgive me if I'm repeating someone else's issue.  I tried to find anything that matched up with my problem, but no luck.

I'm able to push all of my site files via rsync with no problem, but when I get to the database portion of the push, Wordmove returns an error:

[code]

(Usernames and passwords removed, of course.)

Doing some searching on "Error 1273" lets me know this is related to the data

[2015-06-13 14:23] dandycat opened #167 "syntax error on line 40, col 3: ` ssh: '"
So I am getting some kind of syntax error right above the ssh: line... any thoughts? I # out the passwords and such so disregard those as I have those filled out on my file.

local:
  vhost: "http://localhost/dandycatdesigns"
  wordpress_path: "C:/wamp/www/dandycatdesigns" # use an absolute path here

  database:
    name: "dandycatdesigns"
    user: "dandycat"
    password: "secretpassword"
    h

[2015-06-13 14:24] dandycat commented on #167
Duh! So I had an additional space in front of the SSH. So there ya go people haha

[2015-06-13 14:24] #167 closed

[2015-06-13 14:52] dandycat opened #168 "DL is deprecated please use Fiddle"
So I am using Windows 8.1 (unfortunately) and I installed Ruby for Windows 2.1.something. When I got the wordmove init file finally setup correct I tried to simulate a push and then it tells me "DL is deprecated, please use fiddle"

I go and look this problem up and people were saying to change the rbreadline file and I did that but it did nothing. Still got the same error. So then I thought I'd b

[2015-06-13 16:37] dandycat commented on #168
Fixed it... I ended up upgrading to 2.0.0 then followed this

 DL is deprecated, please use Fiddle ' is actually a warning. The warning message comes out when you require 'irb' ( because irb require 'readline' ) or anything else wants to require 'readline'. If you feel it's annoying, you can comment out it at C:\Ruby200\lib\ruby\2.0.0\dl.rb.

[2015-06-13 16:37] #168 closed

[2015-06-14 13:38] dandycat opened #169 "Looks like it's working, but nothing is up on my server :("
I removed the password from the copied stuff below but I think I have everything setup yet nothing is uploading to my server :/ I'm just trying to test this with the themes folder and then I figured I could try get the whole thing uploaded.

[code]

Also, when I try and do the whole thing I get some kind of error of a mysqldump, but I'll put a pin in that one for now.

[2015-06-14 17:12] paperrobots opened #170 "Push Issue"
Getting this error on push. I checked my Movefile and it validates.

    /usr/lib/ruby/1.9.1/psych.rb:203:in `parse': (<unknown>): found character that cannot start any token while scanning for the next token at line 14 column 15 (Psych::SyntaxError)
	from /usr/lib/ruby/1.9.1/psych.rb:203:in `parse_stream'
	from /usr/lib/ruby/1.9.1/psych.rb:151:in `parse'
	from /usr/lib/ruby/1.9.1/psych.rb:127:in

[2015-06-14 17:31] paperrobots commented on #170
So my Movefile validated, but I decided to take what the Linter spit out and put it in my file and now that seemed to work. Why that is I don't know.

[2015-06-15 09:57] pioneerskies commented on #167
Cool you've done it already ;)
Cheers

[2015-06-15 10:00] pioneerskies commented on #168
Woooo...so you have Wordmove up and running on a Windows box?
It'd be beautiful to know how you done the setup! :D

[2015-06-15 10:16] pioneerskies commented on #169
I'm really sorry, @dandycat, but I can't figure out where the error actually is... you have no error back from the command? And if you're using serverpilot on digital ocean, "why you no" use SSH instead of ftp? :) Anyway have you installed LFTP? Does the transfer work w/ component other than themes?

[2015-06-15 10:18] pioneerskies commented on #170
What have you effectively done on line 14? Not clear to me w/o a code snippet from the `Movefile`

[2015-06-15 16:18] pioneerskies commented on #166
Hi @ckboyle ,

this is not a dumb issue at all from my point of view; this is an issue with the encoding and that's on the bigger pain in development podium.

Actually `Wordmove` expects, as it should, databases and their tables to be UTF-8 encoded; in the real world we found that there is a list of cases where it is not as expected. We are trying to keep some work time to implement a db encoding

[2015-06-15 16:24] pioneerskies commented on #133
Sorry for the long waiting, but we are still waiting to schedule Wordmove's pre-release using the updates Photocopier...really sorry...
I'll try to force a bit the schedule w/ my colleagues.

[2015-06-15 16:26] pioneerskies commented on #158
great @defaria , thanks for the follow up

[2015-06-15 16:27] felixfischer commented on #158
I had the same problem. It was caused by a wrong local vhost value in the Movefile. Make sure that it matches the WordPress adress as defined on the General Settings page.

[2015-06-15 16:29] pioneerskies commented on #118
@tikot @defaria thanks for opening the issue and for the feedback.

The remaining operations will work as expected?
Have your tried creating the `languages` folder?

[2015-06-15 16:40] pioneerskies commented on #158
Could be a good idea to add a line of documentation in the readme or inline in the `Movefile`'s skeleton.

I'd like also to recommend the use of wp-cli, when available, to have a quick look at the siteurl in the db:

[code]

[2015-06-16 02:23] ckboyle commented on #166
Yes, thanks!  It turned out to be a combination of vvv using normal modern encoding formats and my hosting company still using a version of MySQL from 2011 that didn't support any of them.  An email to DreamHost and a day later and I'm now on their newer server which offers a much newer version of MySQL and the problems are gone.

[2015-06-16 04:17] whitehat101 commented on #137
[code]

Wordmove was successfully **pulling** content, with a local path of ".", however the find and replaces yielded incorrect results when **pushing**.

It seems unreasonable to insist that all developers have absolutely identical setups. I expect that placing the `Movefile` in the root of the WP project is the most common setup. Why not use the use the absolute location of the `Movefile` to de

[2015-06-16 17:27] Arkham commented on #137
I guess we never felt the need for this feature, happy to review pull requests if you have time :)

[2015-06-18 10:28] pioneerskies commented on #137
Can't afford to explain myself where's the constraint about

    It seems unreasonable to insist that all developers have absolutely identical setups.

we're talking about path; you can develop sites inside `/private/etc` w/o Wordmove make a single problem about it, AFAIK.
Moreover when you create a new project, enter in its folder and invoke `wordmove init` you'll get an autofilled `local -> word

[2015-06-18 23:28] jmsilcom opened #171 "push -d Issue"
Hi, can you help me to understand these error messages ?

[code]

XXXX not real name, of course !

Thanks

[2015-06-19 09:03] pioneerskies commented on #171
Hello @jmsilcom ! :)

I think your MySQL server is not on 178.32.218.50 or the port is not the default one (3306).

You can customize both oarams within the Movefile. Moreover they usually should match the WordPress' connections params inside wp-config.php file.

Keep in mind you can debug the command invoked by Wordmove connecting via SSH to your server and launching the very same command by hand

[2015-06-19 11:41] Chrisedmo commented on #129
Why is this closed? I'm also getting a similar issue when trying any command.

    /Library/Ruby/Gems/2.0.0/extensions/universal-darwin-14/2.0.0/bigdecimal-1.2.5/bigdecimal.bundle: warning: already initialized constant BigDecimal::BASE
    /Library/Ruby/Gems/2.0.0/extensions/universal-darwin-14/2.0.0/bigdecimal-1.2.5/bigdecimal.bundle: warning: already initialized constant BigDecimal::EXCEPTION_AL

[2015-06-19 12:43] pioneerskies commented on #129
Ok guys, we could think to reopen and debug a little more around this, but we need some help; can you all reproducing the bug report:

* operative system
* ruby version
* wordmove version
* is ruby system installed or managed with version managers? If the latter are you using rbenv or RVM?

Thanks for helping us troubleshooting this

[2015-06-19 12:44] pioneerskies commented on #129
@Chrisedmo could you try with ruby version at least 2.2.1?

[2015-06-19 13:30] Chrisedmo commented on #129
hi @pioneerskies I tried switching to 2.2.2 with rvm and got different errors. So I reverted back to my regular ruby. I'll have another try. I really want to integrate wordmove into our workflow!

[2015-06-19 15:48] jmsilcom commented on #171
Hi @pioneerskies, thaks for quick answer, i've made some changes in credential. Now, i've no connect error but... a "command not found", the local dump is empty and not sent to server...
See below :
`remote | mysqldump --host=178.32.218.50 --port=3306 --user=c2savoirfaire '--password=9XNXR5tg!Ggho' c2savoirfaire > /var/www/clients/client2/web37/web/wp-content/dump.sql
   remote | get: /var/www/cli

[2015-06-19 18:59] EvanAgee commented on #139
This would be great, thanks ;)

[2015-06-21 20:27] jmsilcom commented on #171
Hi,

the answer was in this forum. I had to install wordmove inside the vagrant machine. It work's fine now.
(only a small issue with SSH password: no blocking.
Thank's a lot.

[2015-06-22 08:41] pioneerskies commented on #128
Closing for inactivity. Feel free to reopen

[2015-06-22 08:42] #128 closed

[2015-06-22 08:46] pioneerskies commented on #171
Very well done!

Just as a reference for future readers:

[here is a related issue](https://github.com/welaika/wordmove/issues/110) and here is a [related wiki entry](https://github.com/welaika/wordmove/wiki/Getting-Wordmove-installed-in-VVV-(or-any-Vagrant))

@jmsilcom as a general advice prefere pubkey ssh authentication over every time typing your password ;)

Cheers

[2015-06-22 08:46] #171 closed

[2015-06-23 06:59] pioneerskies commented on #129
Thanks for the effort. In the meantime I'll re-open the issue to try to do a second round of testing.

[2015-06-23 07:31] pioneerskies commented on #166
Really really cool!
Glad to hear that.

Cheers!

[2015-06-23 07:31] #166 closed

[2015-06-23 07:37] pioneerskies commented on #113
I'll close this due to inactivity, but always ready to see a PR happen :)

[2015-06-23 07:37] #113 closed

[2015-06-24 10:45] webbrouwer opened #172 "rsync command not found"
Hey!

I've installed all the necessary software to make WordMove work. Infact I had it working a couple weeks ago on other server. But now I encounter on the following error:
`▬▬ ✓ Pushing Themes ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
   remote | put_directory: /Users/Mac/Sites/projecten/katewood/wp-content/themes /home/webbrouw/public_html/projecten/katewood/wp-content/themes .git/

[2015-06-25 04:47] gupta-ankit opened #173 "Virus detected message when using wordmove"
I started using wordmove and when pushing my website, I got the following message

mirror: Access failed: 550-Virus Detected and Removed: JCDEF.Obfus.CreateFunc.BackDoorEval-26.UNOFFICIAL default-option.php: Operation not permitted

Is my website infected or is it something with wordmove? Can you please help?

[2015-06-25 09:23] pioneerskies commented on #173
Hi @gupta-ankit ,

Wordmove just transfers your files back and forth, so no, it is not a Wordmove issue.

You'd better to search for the `default-option.php` file and read its content. That said I don't know anything about the security scanning service in front of your site or your browser.

Cheers and good luck!

[2015-06-25 09:23] #173 closed

[2015-06-26 00:06] webbrouwer commented on #172
Hello There!

I've found out what the problem was. Rsync wasn't installed on the server. So that is why the command wasn't found. It works fine now. Awesome.

Thank you for making Wordmove!

Cheers,

Mickey

[2015-06-26 00:06] #172 closed

[2015-06-26 19:06] jmsilcom commented on #159
hi there.
Can u tell me more about "gateway" under SSH part of Movefile?
Does it means we can add a SSH gateway for connecting Database ?
Thanks in advance.

[2015-06-27 16:23] joeguilmette opened #174 "Using Wordmove with photocopier-1.0.0.pre2"
I'm trying to get Wordmove to play nice with multiple rsync flags, so I'm using photocopier-1.0.0.pre2.

Here's the commands I'm running in Vagrant to provision the server:

[code]

But when running Wordmove I get the following error output:

[code]

How do I tell Wordmove to use photocopier-1.0.0.pre2?

[2015-06-29 08:31] pioneerskies commented on #174
Hmmm....

take e look inside `wordmove.gemspec`and you''l notice a dependency declaration like

    gem.add_dependency "photocopier", "~> 0.0.10"

that's a pessimistic declaration (please refer to this article if you'd like to dig a bit this side of gems: https://robots.thoughtbot.com/rubys-pessimistic-operator)

So in order to unlock this constraint **JUST FOR TESTING PURPOSE** you should be able

[2015-06-29 08:35] pioneerskies commented on #159
Hi @jmsilcom ,

I'd be glad to help but have to ask you to elaborate a bit your question (don't know what the "gateway under SSH" is) and to open a new topic in the effort of keep the issue tracker tidy.

Thanks in advance.

In the meantime I'll close this inactive issue; people involved have to feel free to reopen at their will.

Cheers

[2015-06-29 08:35] #159 closed

[2015-06-29 08:42] pioneerskies commented on #172
Glad you solved. :8ball:

[2015-06-29 10:12] jmsilcom opened #175 "Gateway params in Movefile"
hi there.
Can u tell me more about "gateway" under SSH part in Movefile?
What is the utility of this option ?

Thanks in advance.

[2015-06-29 10:27] baldiri opened #176 "Error when pushing or pulling (same error)"
Hi,
at first place let me tell you that is a fantastic job what are you doing for community, Thanks a lot!!!

My problem is that i always get same problem when try to pull or push:

[code]

Here is my Movefile as well:

[code]

Any ideas¿?, i'm working from a vagrant box, vvv following your wiki instructions.

[2015-06-29 14:44] paperrobots opened #177 "rsync: connection unexpectedly closed"
I'm trying to use Wordmove on a WPEngine server. They don't allow ssh but they do allow sftp. Here is the error message I'm getting:

rsync: connection unexpectedly closed (0 bytes received so far) [sender]
rsync error: error in rsync protocol data stream (code 12) at io.c(226) [sender=3.1.0]

Any thoughts?

[2015-06-30 17:16] pioneerskies commented on #133
We're not on the way of a new release, but very close to a pre-release (installable via `gem install wordmove --pre`) in order to start to test it the easy way.

[2015-06-30 17:17] pioneerskies commented on #177
Please, refer to issue #133 for more info and news.

Thanks for your contribution.

Cheers

[2015-06-30 17:17] #177 closed

[2015-06-30 17:23] pioneerskies commented on #176
Hi @baldiri ,

I think you're having some problems with the YAML's indentation. You need a lot of attention around it. Try w/ this version:

[code]

[2015-06-30 17:42] pioneerskies commented on #175
Hello!

Those options (implemented at the begigging of the time I think :) ) are an interface against another gem: https://github.com/net-ssh/net-ssh-gateway which is a Wordmove's dependency.

I suppose is intended to connect into a bastion server through SSH (the gateway) and then to the final server (probably inside a private network.

DevMachine----------ssh------>GATEWAY----------ssh--------->

[2015-07-01 02:06] joeguilmette commented on #133
That would be awesome!
On Wed, Jul 1, 2015 at 12:16 AM Alessandro Fazzi <notifications@github.com>
wrote:

[2015-07-01 08:46] joeguilmette commented on #174
I managed to get Wordmove to play nice with the latest version of Photocopier, but now I'm getting this error:

[code]

Maybe I should just wait for the Photocopier gem to be rolled out.

[2015-07-01 16:39] baldiri commented on #176
Hi Pioneerskies,

perfect, as you say it was a problem with YAML's indentation.

Thanks a lot!

[2015-07-01 16:39] #176 closed

[2015-07-02 16:42] MrLuisAmador opened #178 "I really want to use wordmove, but I keep getting this error message."
▬▬ ✓ Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
/home/tim/.rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/psych.rb:370:in `parse': (<unknown>): did not find expected '-' indicator while parsing a block collection at line 23 column 5 (Psych::SyntaxError)
	from /home/tim/.rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/psych.rb:370:in `parse_stream'
	from /home/tim/.rvm/rubies/ruby-2.2.1/lib/rub

[2015-07-03 15:06] pioneerskies commented on #174
Hey @joeguilmette we have a brand new and potentially bugged pre-release of WordMove which supports only Photocopier >= 1.0.0.pre2 :)

please

    gem uninstall wordmove
    gem uninstall photocopier
    gem install wordmove --pre

test and give us feedback. I'm going to close this issue right now; probably new issues will be better choice for feedback about pre-release version.

Bye!

[2015-07-03 15:06] #174 closed

[2015-07-03 15:08] pioneerskies commented on #174
Oh, just FYI with this pre-release we're dropping support for ruby 1.9 (this is why the CI tool is broken at the moment).

[2015-07-03 15:09] pioneerskies commented on #133
@regs79 @gwelser @joeguilmette you could be interested in this: https://github.com/welaika/wordmove/issues/174#issuecomment-118370169

Enjoy testing :)

[2015-07-03 15:58] delphaber opened #179 "Add `scheme` to README"
`photocopier` introduces the `scheme` options for FTP. Add a section in the README

[2015-07-03 16:07] #179 closed

[2015-07-03 16:26] #134 closed

[2015-07-03 16:28] delphaber commented on #106
@joeguilmette can you try with the prelease version of `wordmove` (#174) and those rsync options @pioneerskies told you?

[2015-07-03 16:30] delphaber commented on #95
@sebastianopilla if you are still interested in `wordmove`, we released a prelease version which fixes your problem. Please read #174 and test carefully

[2015-07-03 16:30] #95 closed

[2015-07-03 16:33] delphaber commented on #58
This feature won't be implemented in the near future. A PR is welcome :)

[2015-07-03 16:33] #58 closed

[2015-07-03 19:53] sebastianopilla commented on #174
After following @pioneerskies steps for installing the pre-release of WordMove, I have the "uninitialized constant" error as @joeguilmette :

[code]

[2015-07-06 05:52] joeguilmette opened #180 "WordMove --pre: uninitialized constant Photocopier::Adapter (NameError)"
I'm getting an `uninitialized constant` constant error when running the following commands:

[code]

[code]

[code]

Note that I got the same error when manually installing photocopier (1.0.0.pre2) and modifying WordMove's dependencies: https://github.com/welaika/wordmove/issues/174

[2015-07-06 09:21] pioneerskies commented on #180
`gem uninstall wordmove -v=1.2.0` does anything?

[2015-07-06 09:40] pioneerskies commented on #174
@sebastianopilla what `gem list | grep wordmove` says? Have you got multiple wordmove versions installed?

[2015-07-06 10:46] sebastianopilla commented on #174
@pioneerskies I only have wordmove 1.3.0 pre:

[code]

Actually I only have the gem dependencies for wordmove installed:

[code]

[2015-07-06 13:43] Swingline0 commented on #180
I seem to be getting this error as well. Versions below:

[code]

This seems to occur regardless of whether or not the scheme is declared as `ssh` or `ftp`. Remove the entire connection scheme block results in a more expected error:

[code]

[2015-07-06 15:12] pioneerskies commented on #180
Thanks for feedbacks guys. We are doing some investigations around the bug

[2015-07-06 15:17] pioneerskies commented on #174
(not)Cool, thanks. Probably a problem with the new packages. We'll investigate a bit asap

[2015-07-06 15:19] Swingline0 commented on #180
You're my hero @pioneerskies!

[2015-07-06 16:33] mlkayser opened #181 "Parse error"
I get the following error, regardless of what command I try (wordmove pull -w or wordmove pull -d):

[code]

Any help would be great, thanks!

[2015-07-07 09:49] pioneerskies commented on #181
HI @mlkayser , it seems you're just having a problem with your Movefile' sysntax :)

[2015-07-07 13:03] mlkayser commented on #181
Grazie per la risposta Alessandro (io sono di Bergamo ma vivo in Maine :)), but I get the same error with wordmove pull --all. What I am doing wrong?

OWL-WebDev:wp mlorenzikayser$ wordmove pull --all

▬▬ ✓ Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/psych.rb:205:in `parse': (<unknown>): mapping value

[2015-07-07 19:18] geetpurwar commented on #150
Any update here?
I am facing same errors.
Thanks.

[2015-07-07 19:57] geetpurwar opened #182 "Error while pushing or pulling wordmove"
hi,

Local server: MAMP/ 8888 port
Staging server: Digital Ocean with ubuntu 14/ wordpress installed
Here's my movefile:

	local:
	vhost: "http://localhost:8888/fsf"
	wordpress_path: "/Applications/MAMP/htdocs/fsf" # use an absolute path here

	database:
	name: "fsf"
	user: "root"
	password: "root"
	host: "localhost"

	staging:
	vhost: "http://45.55.84.91/"
	wordpress_path: "/var/www/html" # use a

[2015-07-08 03:41] #178 closed

[2015-07-08 03:42] MrLuisAmador commented on #178
I was using the wrong indention. I'm not a Ruby guy...

[2015-07-08 06:22] charmcat commented on #129
OSX 10.10.3 Yosemite
Ruby: 2.2.2p95—installed using rbenv
Wordmove version: 1.2.0

have vagrant in the directory; not sure if that's relevant.

[2015-07-08 06:32] charmcat commented on #96
Okay, so I'm having the same error. Not sure if I should open a new thread or not? What's the etiquette??

[2015-07-08 08:21] pioneerskies commented on #96
Hey you can try to paste here your `Movefile`. Please keep it pre-formatted while pasting. I'm quite sure this error wes, is and will be always due to wrong indentation in `Movefile`.

We're thinking about a built-in validator, but actually not having enough time do implement :/

[2015-07-08 08:24] pioneerskies commented on #178
Yep! Glad to hear you solved before our support arrived :P

YAML is not really a Ruby thing (http://yaml.org/) and it is widely used in PHP world also, for example. But Ruby has built in YAML parser, so is very easy to use that standard format to write and read configuration files :)

Cheers

[2015-07-08 08:34] pioneerskies commented on #182
Hi @geetpurwar ,

as you can notice by yourself your `Movefile` has no indentations at all.

Please, keep the one from our README and consider that YAML format is indentation sensitive; based on this reorder your `Movefile`, try again and tell us the news.

If it will start working remember to close the issue :)

Cheers

[2015-07-08 08:37] pioneerskies commented on #182
Probably it should be

[code]

[2015-07-08 08:40] geetpurwar commented on #182
hi @pioneerskies ,
I tried that already, however that was invalidating the file.
let me quickly check now and then I will get back to you with result.
Thanks.

[2015-07-08 09:04] pioneerskies commented on #182
We have done a bit of debugging and a bug is possible when using multiple remote environments.

Please, proceed with debugging on your side: it will be very useful! :)

[2015-07-08 09:05] pioneerskies commented on #150
Can we close this and follow up only the duplicated #182 ? It would be easier for us to be focused :)

Thanks

[2015-07-08 09:05] #150 closed

[2015-07-08 09:11] geetpurwar commented on #182
I tried that now. It seems to work, however site is still not migrated.

Move file:

	local:
	  vhost: "http://localhost:8888/fsf"
	  wordpress_path: "/Applications/MAMP/htdocs/fsf" # use an absolute path here

	  database:
	    name: "fsf"
	    user: "root"
	    password: "root"
	    host: "localhost"

	staging:
	  vhost: "http://45.55.84.91/"
	  wordpress_path: "/var/www/html" # use an absolute

[2015-07-08 09:46] pioneerskies commented on #182
Please, try to comment out the password in `ssh` section and type it manually or even better use an ssh pubkey. Sshpass is usually too much buggy.

[2015-07-08 09:48] pioneerskies commented on #181
Hey let we take a look to your `Movefile`, please. All wordmove tasks depend the same way from the configuration. :) We'll try to understand something more.

Ciao!

[2015-07-08 10:34] geetpurwar commented on #182
@pioneerskies

I did that. however getting error again.
Will try again in sometime and see it it works (though I think it will show same error again).
Error says: Operation timed out. however direct ssh in terminal works fine and quickly.
Please advise.

	Spark:~ Geet$ cd /Applications/MAMP/htdocs/fsf
	Spark:fsf Geet$ wordmove push -e staging --all

	▬▬ ✓ Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

[2015-07-08 15:58] mojenmojen opened #183 "Pure-FTPd logout"
I'm using wordmove on a host with Pure-FTPd. When I attempt to push my local site to this host, I get a 530 login authentication failed error at the first mkdir and then I get logged out. Apparently this is because the directory already exists. Here is what the pure-ftpd log reported:

Jul  8 14:02:00 host pure-ftpd: (?@2.219.151.17) [INFO] XXXXX is now logged in
Jul  8 14:02:11 host pure-ftpd: (X

[2015-07-08 18:39] charmcat commented on #96
[code]

It validates okay.

[2015-07-08 19:44] charmcat commented on #139
yp!

[2015-07-09 07:29] yoren commented on #182
hey @geetpurwar in your Movefile, the staging ssh host should be only "45.55.84.91" without the "http://" part. That might cause the ssh timed out issue.

[2015-07-09 08:17] pioneerskies commented on #182
God @yoren
Y-U-NO arrived here before! :D

@geetpurwar she has pointed out a really smart thing; I suggest you to try and anyway to remove the http protocol from the ssh host address :)

Let we know your progress if you can

Cheers

[2015-07-09 08:18] geetpurwar commented on #182
@yoren very cool. It worked.
Thanks so much.

Files are uploaded. Only issue, I am having is with sql dump.
Move file:
    local:
      vhost: "http://localhost:8888/fsf"
      wordpress_path: "/Applications/MAMP/htdocs/fsf" # use an absolute path here

      database:
        name: "fsf"
        user: "root"
        password: "root"
        host: "localhost"

    staging:
      vhost: "http://45.

[2015-07-09 08:26] pioneerskies commented on #182
Hey @geetpurwar you have not `mysqldump` in your shell PATH... if you open a terminal and try

    which mysqldump

I think you'll get the very same error Wordmove is reporting.

You should search for MAMP documentation on how to add MAMP's executables to the PATH.

Something like http://stackoverflow.com/questions/3268789/add-mysqldump-to-mamp-mysql-w-apache-php-on-macos-x ?

[2015-07-09 08:41] geetpurwar commented on #182
@pioneerskies you are right.
I think this can help; your previous comments.
https://github.com/welaika/wordmove/issues/126

[2015-07-09 08:49] yoren opened #184 "Rsync Permission denied (publickey) in VVV"
I stuck with this for days. So post here to see if anyone can help me with it.

Wordmove is great but since I use VVV, I'd like to use it my in Vagrant rather than in Mac OSX. The weird thing is, I can `wordmove push -p` from OSX, but when I do `wordmove push -p` in Vagrant (of course I remember to change the `wordpress_path`), I get **Rsync Permission denied error** like this:

<pre>
remote | put

[2015-07-09 11:07] geetpurwar commented on #182
@pioneerskies ,

It worked. Following code seems to help fixing it.

	echo export PATH="/usr/local/bin:/usr/local/sbin:/usr/local/mysql/bin:$PATH" >> ~/.profile

	source ~/.profile

All looks good. Thanks so much @pioneerskies @yoren

[2015-07-09 11:08] #182 closed

[2015-07-09 13:42] mlkayser commented on #181
Hi. I was able to pull the database after a few changes:

- commented out the password for ssh and entered it manually at the prompt
- adjusted the indentation of the Movefile (even one extra space on one line messes everything up)
- entered the command " sudo ln -s /Applications/MAMP/Library/bin/mysqldump /usr/local/bin/mysqldump" to make myqsldump (MAMP installation) available from the terminal

[2015-07-09 16:39] mlkayser commented on #181
Update: the command "wordmove pull -d" generates the following error:

/Library/Ruby/Gems/2.0.0/gems/wordmove-1.2.0/lib/wordmove/deployer/ssh.rb:55:in `remote_run': Error code 2 returned by command "mysqldump (. . . login details . . ) ": mysqldump: Got error: 1044: Access denied for user 'owl_wp'@'localhost' to database 'owl_wp_online' when using LOCK TABLES (RuntimeError)

An internet search bro

[2015-07-10 14:14] endorama commented on #180
Yep, it seems that I spotted the problem :) And I guess that also @delphaber got it, seeing it's last commit https://github.com/welaika/wordmove/commit/2915b04ac0746400ceb80ed54bbf90f667859789

Before that commit deployer/ssh and deployer/ftp require `photocopier/ssh` and `photocopier/ftp` respectively. Looking at the Photocopier gem code the dependency inclusion are at the `photocopier` level and

[2015-07-10 18:36] sulram commented on #161
hi all! @pioneerskies @yuranikolaev

I had to add `--chmod=ugo=rwX` in the following line?

[code]

I'm having problem, but only with images. They are not getting the correct chmod after `wordmove push -t` command, and I have to access server via ssh and execute command:

[code]

[2015-07-10 19:22] delphaber opened #185 "Add --version option to cli"

[2015-07-10 20:37] delphaber commented on #180
@endorama Yep, I'm working also on a new bug on photocopier. As soon as I am confident, I'll release a prerelease

[2015-07-10 21:22] delphaber commented on #183
Hi, I think we could remove the `mkdir -p PATH` command and use only the `cd PATH`. It's your responsibility to create PATH the first time (and probably your hosting server already did).

[2015-07-10 21:59] delphaber opened #186 "Update README with https://github.com/welaika/wordmove#ftp-support"
wordpress_path
wordpress_absolute_path

[2015-07-10 21:59] #186 closed

[2015-07-10 23:33] joeguilmette commented on #180
When we get this sorted I'm sending you guys a bottle of scotch or whatever
your drink is.

On Sat, Jul 11, 2015 at 5:37 AM Fabrizio Monti <notifications@github.com>
wrote:

[2015-07-12 17:36] essenmitsosse opened #187 "Database pushing not working"
Database pulling from  my server works perfectly fine, but when I push to the server no changes in the database are made. I am not getting any error messages and the PHP Error Log is also empty. All I get is this, which looks perfectly fine:

    ▬▬ ✓ Pushing Database    ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
       remote | write /wptest.betoniu.de/wp-content/dump.php
        local |

[2015-07-12 17:56] delphaber commented on #183
@mojenmojen you can try the release version of wordmove (gem uninstall wordmove && gem install wordmove --pre)

In this version we check if folder exists with `find`. If not, we create the folder with `mkdir`.

*BE CAREFUL* : do a backup of your local and remote files / db while using a prelease (beta) version of wordmove

[2015-07-12 17:59] delphaber commented on #180
@joeguilmette could you please try with the new prerelease version of wordmove?

`gem uninstall wordmove && gem install wordmove --pre``

*Please*, do a backup of local/remote files/db while using this beta version

[2015-07-12 18:02] delphaber commented on #155
this will be fixed in the new version :)

[2015-07-12 18:06] delphaber commented on #118
This is fixed in the new prelease version.

If you want to test, `gem uninstall wordmove && gem install wordmove --pre`.

*Please* backup local/remote files/db if you want to try the prerelease (beta) version

[2015-07-12 18:06] #118 closed

[2015-07-12 22:53] delphaber commented on #129
@charmcat could you please run `gem list | grep bigdecimal``

I noticed the problem is between bigdecimal 1.2.7 and active_support

[2015-07-13 08:29] ivandoric opened #188 "How do you use environments?"
I want to have staging and production environments. And in the Movefile there is an option to set it up. But I couldn't find anything in the docs about using it. eg. How do I push database to production  environment?

Thanks.

[2015-07-13 12:13] adamraya commented on #188
Hi @ivandoric  I'm also trying to improve my workflow with wordmove, if you run `wordmove -h push` you'll find the answer, to push only database to production I think should be `wordmove push -d -e production`

[2015-07-13 12:16] ivandoric commented on #188
Thanks @adamraya :) I think that's the only thing I haven't tried. Seems to be working.

[2015-07-13 12:34] pioneerskies commented on #188
We'll add the specific information in the README. Thanks for your question :)

[2015-07-13 12:34] #188 closed

[2015-07-13 12:54] pioneerskies commented on #180
Hey @joeguilmette I'll drink my part of scotch as well as the @delphaber 's one! One of my favorites! :P

[2015-07-13 13:06] pioneerskies commented on #161
@sulram actually in order to pass multiple rsync options at once you should try the pre-release version

    gem uninstall wordmove && gem install wordmove --pre

or you should try to pass just the second option. Keep in mind that in order to use --chmod you should have right privileges on the remote machine (e.g.: the folder should be owned by your user)

[2015-07-13 13:16] pioneerskies commented on #181
hi @mlkayser :)

About https://github.com/welaika/wordmove/issues/181#issuecomment-120064102 I'm glad to hear about your progress. We usually stimulate users to write wiki pages and notice them to the stuff in order to contribute to the project. Please, if you think to have some time to spend on a task like that everyone would be grateful. E.g. in the wiki there's already a page about MAMP trouble

[2015-07-13 13:20] pioneerskies commented on #182
Well done!

Feel free to improve this wiki page https://github.com/welaika/wordmove/wiki/MAMP-tips if it is necessary!

Cheers

[2015-07-13 13:25] pioneerskies commented on #184
hey @yoren thanks for your enquiry;

before proceeding with a troubleshoot I'd like to ask: have you already read this wiki entry: https://github.com/welaika/wordmove/wiki/Getting-Wordmove-installed-in-VVV-(or-any-Vagrant) ?

[2015-07-13 13:29] pioneerskies commented on #96
@charmcat could you also write down the command you used? Sorry if I asked just now :(

[2015-07-13 15:36] yoren commented on #184
Yep! I've read and set up wordmove with VVV based on it. Just have no idea why rsync doesn't work.

[2015-07-13 16:29] defaria opened #189 "wordmove pull -d fails, but dump files are there."
I am trying to pull content from testing server to local server. I get the following error.

    local | download mysite.com/wp-content/dump.php?shared_key=c93d8f437f76a12a2adba230f3680c9ae64e30c7f46c0d21806f49ed8372baf8fcbeedffb179f8b8 > /Users/developer/Sites/mysite/wp-content/dump.sql
    /Users/developer/.rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/open-uri.rb:36:in `initialize': No such file or dire

[2015-07-13 16:32] pioneerskies commented on #189
Seems to me `mysite.com` would need `http://` in front of it...?

Could you eventually paste here your `Movefile` (plz use markdown code formatting)?

[2015-07-13 16:36] defaria commented on #189
You are correct. Missing http. Thank you!

[2015-07-13 17:03] pioneerskies commented on #189
1 shot 1 kill! Cooool! :P :)

Cheers

[2015-07-13 17:03] #189 closed

[2015-07-13 20:59] charmcat commented on #129
[code]

[2015-07-13 21:02] charmcat commented on #96
[code]

[2015-07-13 21:41] delphaber commented on #185
Done

[2015-07-13 21:41] #185 closed

[2015-07-14 01:07] joeguilmette commented on #184
Hi there, shoot me and email and I'll help you out. Joe.guilmette@gmail.com
On Tue, Jul 14, 2015 at 12:36 AM Yoren Chang <notifications@github.com>
wrote:

[2015-07-14 07:41] pioneerskies commented on #96
OK @charmcat so we have just a misunderstanding as far as I understand :)

`-e` argument takes **always** remote environments. `Wordmove` assumes one of the envs will always be your development env. So:

1. Never modify the first part's name of the `Movefile` `local:`. That is you local dev env. Full stop
2. When you pull/push you can specify a remote w/ `-e` flag if you have multiple remotes (the

[2015-07-14 15:36] joeguilmette commented on #180
You guys are just fantastic. Really. Works like a charm.

[2015-07-14 15:36] #180 closed

[2015-07-14 17:11] pioneerskies commented on #180
Awwwww

So @delphaber 's fixes were good! :8ball:

Figure out how to tell us if new features works, also! ;)

Cheers

[2015-07-14 17:13] pioneerskies commented on #180
Oh, and I hope the update is working as well for @Swingline0 :)

[2015-07-14 19:52] charmcat commented on #96
lol thanks. I really have no idea about this stuff, so I'm completely in the dark. I used the right command and got a couple of other error messages that I was able to fix, and it seems to be working now!

The environment explanation would be great in the wiki!

[2015-07-14 22:18] delphaber commented on #149
Merged, thank you :)

[2015-07-14 22:18] #149 closed

[2015-07-15 04:28] yoren commented on #184
My Gosh, this is miracle. After a few emails with @joeguilmette the problem goes away like it never happened before.

Now I can rsync with Wordmove without any error message. I wish I could remember what I've done, but to be honest I really don't know. There might be some issues with:

1. the ssh-agent
2. Vagrant doesn't halt properly or need to be provisioned again after some settings modified

T

[2015-07-15 04:28] #184 closed

[2015-07-15 08:52] pioneerskies commented on #184
:) Glad to hear that @yoren

@joeguilmette is the community's VVV/Wordmove rockstar ^_^

Enjoy

[2015-07-15 09:12] pioneerskies commented on #96
Here we are @charmcat :) https://github.com/welaika/wordmove/wiki/Multiple-environments-explained

I'm going to re-close this issue.

Cheers

[2015-07-15 16:02] mojenmojen commented on #183
Thank you very much, the new version is working perfectly now.

[2015-07-15 16:04] pioneerskies commented on #183
This really rocks! :8ball:

Thanks fro your feedback @mojenmojen, and thanks @delphaber for the really nice rework ;)

[2015-07-15 16:04] #183 closed

[2015-07-15 19:24] DavidScanu opened #190 "Unable use two environments in Movefile"
I am unable to write 2 environments (1staging, 1 production) in the Movefile. Both environments works very well when alone in the Movefile. But only one of them works when the two are in the Movefile (one at the top).
Example command : wordmove push -tdup -e=staging (works), wordmove push -tdup -e=production (doesn't work).

Détails :
My local install is MAMP with subfolders in htdocs.
I managed t

[2015-07-15 20:25] pioneerskies commented on #190
Hi @DavidScanu :)

Please, read this wiki page https://github.com/welaika/wordmove/wiki/Multiple-environments-explained and tell me if it helps solving your problem.

Spoiler: `wordmove push -tdup -e production` without the equal sign sounds better

[2015-07-15 20:28] defaria commented on #132
Just wanted to add to this and say that I had the same issue once I installed wordfence.

[2015-07-15 20:54] pioneerskies commented on #132
@defaria are you able to check what encoding have the plugin's tables and their column? With a query like

[code]

[Here](http://stackoverflow.com/questions/1049728/how-do-i-see-what-character-set-a-database-table-column-is-in-mysql) are more SQL commands

[2015-07-15 21:02] DavidScanu commented on #190
Thanks a lot for your answer.

You did help me solve the problem. I was forgotting the ssh line under the staging environment. My two server (staging and production) are using the same server so they have the same ssh key and login. I was forgotting to repeat the ssh stuffs for each environment. As simple as that ! Sometimes, it is right under your nose !

[2015-07-15 21:24] pioneerskies commented on #190
Just great to hear that!

Cheers

[2015-07-15 21:24] #190 closed

[2015-07-15 21:57] delphaber commented on #152
Hi @pjackson1972 at the moment you cannot pass additional options to mysqldump. Anyway it sounds like a good idea; pull request is welcome :)

[2015-07-15 22:00] delphaber commented on #144
Hi @rush4ratio we are sorry but we do not support Windows platform. Did @stuzzo comment help you?

[2015-07-15 22:43] delphaber commented on #187
@essenmitsosse you are right. With this line:

[code]

[2015-07-15 23:00] delphaber commented on #129
`bigdecimal` is a default ruby gem. Maybe the problem is having two versions of it. If you do not need `bigdecimal`1.2.7 you could try to `gem uninstall bigdecimal`. It should remove 1.2.7 and leave 1.2.6 (which cannot be uninstalled)

Let us known :)

[2015-07-16 01:24] essenmitsosse commented on #187
Database should be fine, because pulling works like a charm — which shouldn’t be the case if the settings would be wrong, right? I suppose there should also be a PHP error in the Log if something goes wrong — which isn’t.

[2015-07-16 05:34] joeguilmette commented on #184
It probably helps having a actual vagrant troubleshoot Vagrant... Glad you
got it sorted!

On Wed, Jul 15, 2015 at 4:52 PM Alessandro Fazzi <notifications@github.com>
wrote:

[2015-07-16 12:54] Swingline0 commented on #180
Hey, @pioneerskies! Thanks for remembering me :)

I'm wondering if I'm doing something wrong here but my goal was to connect via SFTP however It seems that the connection is timing out.  Am I missing something in my Movefile?

[code]

[2015-07-16 13:08] pioneerskies commented on #180
Ouch... @Swingline0 I'm quite n00b about this issue. But I think sftp should be handled as an SSH connection, since the service is handled by sshd daemon. The scheme is in order to handle FTPS (FTP over SSL), not SFTP (SSH FTP).
I'd try to go with the `ssh` section, not the `ftp` one :)

[2015-07-16 17:39] Swingline0 commented on #180
Would a scheme property be acknowledged with SSH? It seems to fail when it attempts to execute `mysqldump` over the connection.

I don't see much mention of SFTP support over on Photocopier's readme which may point towards the protocol not really being supported?

[2015-07-16 18:41] colin-marshall opened #191 "mysqldump: Got error: 1045: Access denied for user"
Hi, I get this error when trying to pull my database:
`mysqldump: Got error: 1045: Access denied for user 'djcoma_wp166'@'173.248.188.247' (using password: YES) when trying to connect`

I can transfer files just fine using wordmove, it appears the database pushing and pulling is the only thing not working.

I can login to my database just fine using the exact same credentials in Sequel Pro. My web

[2015-07-16 21:06] colin-marshall commented on #191
Figured it out. I guess since it was sending the mysqldump command after SSH'ing to the server, I had to add the IP of the server to the allowed hosts.

[2015-07-16 21:06] #191 closed

[2015-07-16 23:32] charmcat commented on #129
Uninstalled and now the error is gone whenever I run the command.

Thanks!

[2015-07-17 08:02] pioneerskies commented on #180
Hm, you're right: SFTP is an SSH's subsystem, but through it you haven't access to shell commands, but you're jailed in sort of fake shell someway emulating an FTP server. So it sounds like a third way between SSH and FTP(S) which could lead to these kind of problems.

But I should dig a bit more to be more exhaustive

[2015-07-17 09:33] pioneerskies commented on #129
:8ball:

[2015-07-17 09:33] #129 closed

[2015-07-17 16:37] sulram commented on #161
thanks @pioneerskies, it worked! ;)

[2015-07-19 19:11] pioneerskies commented on #161
:+1:

[2015-07-20 14:01] Swingline0 commented on #180
Agreed, I'll try and do my due diligence in investigation as well. Thanks!

[2015-07-22 18:42] BobWassermann opened #192 "Pushing databases error"
Hey all,

I have Wordpress setup with the actual wordpress as submodule (in a folder ``wordpress``) and all my content in a ``content`` folder (themes, plugins, etc).

I created a new FTP account where I can upload the files straight in (no ``www``, ``public_html``, etc). When I try to do so, I'll get the following error back:

    ▬▬ ✓ Pushing Database ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

[2015-07-23 13:35] essenmitsosse commented on #187
Just went into to wordmove code, to comment out the line, that deletes the temp.txt file and it actually contained an error (turns out the server runs an outdated MYSQL Version, so that’s not your fault).

But yes: An option to keep that file without fooling around in your code would be great.
Also it should be temp.html, since it actually is an html file.

[2015-07-27 19:05] rwbrown72 opened #193 "mysqldump: Got error: 1045: Access denied for user 'root'@'localhost' (using password: YES) when trying to connect"
<h1>Hello..</h1> and thanks for a cool gem.

I'm testing out this gem and I'm having an issue with the dump.sql.  I'm going to delete this test server as soon as I'm finished writing this.

Here is the error I'm getting:

[code]

<hr>
There seems to be an issue with the Database Dump. It's creating backup files, but it's not outputting anything to the server. I'll add an image of the backup files

[2015-07-27 20:45] rwbrown72 commented on #193
Quick update.... It seems I have the same issue with both the Push and Pull commands. I cannot get access to the local (Dev) database. It keeps coming up with a 1045 error and now I switched the <code>host: "localhost"</code> to
<code>host: "127.0.0.1"</code> I am getting a <code>1049 Error: Unknown Database. </code>.
<hr>
I changed the name of the database and dropped the old database. I updated

[2015-07-27 21:18] rwbrown72 commented on #193
Last update:

I tried creating a complete new site and could not get it to run either. The good thing is that I keep getting the same 1049 Error.

<code>▬▬ ✓ Pushing Database ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
   remote | mysqldump --host=localhost --port=3306 --user=wordpress --password=8FqP6SKcQc wordpress > /var/www/html/jjlaw/wp-content/dump.sql
   remote | get: /var/www/html/j

[2015-07-27 22:21] rwbrown72 commented on #193
OK... I figured it out. I had two seperate installs of mysql running. The comman line was using an older version of mysql that was from a previous install. I removed it and directed the system to use the mysql associated with MAMP and everything worked. Sorry for the lenghty question, but at least I finally figured it out. Hope this helps someone else.

Russell

[2015-07-28 07:24] pioneerskies commented on #193
Cool. Thanks for reporting your troubleshoot and solution. I've just re-formatted a bit che code snippets in order to make them more readable.

Cheers

[2015-07-28 07:24] #193 closed

[2015-07-28 18:33] manueljtejada opened #194 "Wordpress already installed"
After running `wordmove push --all` I visited my live site and completed the Wordpress setup, entering the database information. After completing the setup, I got an error message saying that Wordpress was already installed and that I had to clear my database tables in order to reinstall it. When I go to mysiteurl.com/admin I get a 404 error.

Any ideas on what's going on here?

[2015-07-28 21:15] #194 closed

[2015-07-29 14:56] Jordan4jc opened #195 "Pushing database adds subdirectory to url"
My production environment setup looks like this in my Movefile

[code]

But when I push and attempt to go to wp-admin it forwards to `gasfieldsvc.com/gasfield` and in the options table of the database this is reflected there in `siteurl` and `home`.

Why is this subdirectory name getting added after all the URL's?

[2015-07-30 08:14] pioneerskies commented on #195
Hello :)

    wordpress_path: "gasfieldsvc.com" # use an absolute path here

but that is not an absolute path afaik

[2015-07-30 08:15] pioneerskies commented on #194
@manueljtejada have you closed because you solved?

[2015-07-30 09:16] Chrisedmo opened #197 "Your logo is missing the 'D'"
I noticed there is a new logo in your README.md - however It is missing the 'd' so it reads Wormove. If you let me know the font I could fix it for you?

[2015-07-30 09:32] delphaber commented on #197
Fail..... :D Thank you very much :) We are going to fix it soon ;)

[2015-07-30 09:47] Arkham commented on #197
HAHAHAHA

[2015-07-30 10:41] jirsbek commented on #197
+1 :laughing:

[2015-07-30 10:48] mukkoo commented on #197
Fixed. Tank you.

[2015-07-30 10:48] #197 closed

[2015-07-30 14:18] Jordan4jc commented on #195
When I ssh in that is the only folder I see, I have a staging environment that works the same way, when I ssh into the staging environment I see a folder called `dev.fotype.com` and in that folder there is another folder called `gasfield`. In the environment for the staging I have this listed

[code]

And that works just fine.

[2015-07-30 16:51] iDuuck opened #198 "Request: Color the progress to see what's failing"

[2015-08-04 21:41] defaria opened #199 "Does wordmove only downloads/uploads the changed files or all files?"
This is not very clear in the description.

I know rsync will sync file changes, and not the whole thing, but that's only used in the SSH transfer mode. Does the FTP mode downloads/uploads everything? or just the changed files?

[2015-08-05 07:59] pioneerskies commented on #199
You'll get the job done as well using FTP (thanks to lftp). It always transfers only changed files :)

Cheers

[2015-08-05 07:59] #199 closed

[2015-08-06 01:38] mikeselander opened #200 "Doesn't move all WP files - ie: mu-plugins"
Hi there, I do a good amount of development in mu-plugins and the tool doesn't seem to move anything beyond the plugins/themes/uploads folders in wp-content, although it does catch extraneous folders in the root when using '--all'. I tried to assign an unused path (languages, in my case) to wp-content/mu-plugins but it won't properly move it when renamed either. Am I missing something or does it j

[2015-08-06 08:52] pioneerskies commented on #200
Hi @mikeselander ,

thanks for reporting the issue. That's already known and tracked here https://github.com/welaika/wordmove/issues/117; I'd like to grab all the relatives comment in that issue, so I'm going to close this one in order to keep the tracker tidy.

Cheers

[2015-08-06 08:52] #200 closed

[2015-08-07 22:44] AlphaBlossom commented on #160
Hello,

Thanks for the great script! I've recently started using wordmove and over the last few weeks have come across the same issue as above.

I'm using vvv, and when I set up a site, mysite.dev and pull all from mysite.com, the homepage works, but all links remove mysite.com.

Looking in the _options table shows mysite.com has not been updated to mysite.com (as well as all locations in the db -

[2015-08-08 04:19] mimosafa commented on #200
し

On Thu, Aug 6, 2015 at 10:38 AM, Mike Selander <notifications@github.com>
wrote:

[2015-08-10 15:35] afmarchetti opened #201 "mkdir: Access failed: 550 Can't create directory: No such file or directory"
Hi! Wordmove is awesome thank You!
I have this problem, when i launch the command: wordmove push --all -e staging
i have this error:

mkdir: Access failed: 550 Can't create directory: No such file or directory (/web/htdocs/test.marchettidesign.net/home)
cd: Access failed: 550 Can't change directory to web: No such file or directory (/web/htdocs/test.marchettidesign.net/home)
Transferring file `.DS

[2015-08-10 16:31] defaria opened #202 "Issue reading password with a semicolon character"
This might be an issue with lftp or wordmove, but I thought I would report it. I typically use generated passwords which often includes punctuation. Either wordmove or lftp had issues reading the password with a semicolon in it.

My password was : u::0.OCJf.;L@rnF

and the error I got:

Unknown command `L@rnF@mydomain.com'.
mkdir: Not connected
cd: Not connected
mirror: Not connected

I realized w

[2015-08-13 02:16] bwaaaaaa commented on #144
try this>  gem install net-ssh -v 2.9.3.beta1

[2015-08-13 09:18] rgantree opened #203 "Staging backup file not found"
Hi there,

I'm using Wordmove with VCCW and all run fine, apart from "Pushing database" where I get an error:
remote | get: /var/www/vhosts/.../wp-content/dump.sql /Users/user/.../www/wordpress/wp-content/staging-backup-1439388114.sql
/usr/local/rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/net-scp-1.2.1/lib/net/scp/download.rb:156:in `initialize': No such file or directory @ rb_sysopen - /Users/u

[2015-08-13 11:32] Arkham commented on #202
Hey there, did you make sure to wrap the password with double quotes in the `Movefile`?

[2015-08-13 14:21] defaria commented on #202
Yep. I will run another test and put the results here.

[2015-08-15 11:56] iDuuck opened #205 "Lock push to database"
Is it possible to lock the push to the database. Let's create a use case:
- The production server is ready and there is many information about the page and some blog posts
- I am doing something on my local machine
- Let's push to git
- I accidentially push with `wordmove push --all`
- Now, where do I get my data back? So I need the option to lock the pushing

[2015-08-20 23:16] connormckelvey commented on #137
In case anyone else is interested, I wrote a node script that you can use as a post-checkout hook with git. https://github.com/connormckelvey/hooks/blob/master/wordmove-post-checkout

It will run when you clone a repository and run when you switch branches. Works pretty well for my team.

[2015-08-23 05:19] kathlynn commented on #132
Wordfence is using latin1_swedish_ci

[2015-08-26 21:02] connormckelvey opened #207 "wordmove pull -d fails"
Setting up a new site for a client, wordmove pull -e production --all works for everything and then fails when it gets to the database:

/Users/redacted/.rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/open-uri.rb:36:in `initialize': No such file or directory @ rb_sysopen - www.redacted.org/wp-content/dump.php?shared_key=redacted(Errno::ENOENT)

However when I FTP in myself, I can see the dump file. When I o

[2015-08-28 03:44] rockethouse opened #208 "Whats the default for push? can we set it?"
Hi,

I have wordmove setup and working perfectly (it's really really good).

My only question is what is the default argument for 'wordmove push'? does that do everything? uploads, db and theme?

Is there a way we can set the default to be theme only? My reasoning is once i've done my initial push, after that I only 90% of the time want to push the theme again... and since setting some 'live-only'

[2015-08-28 07:30] pioneerskies commented on #208
Hi @rockethouse,

WordMove does absolutely nothing by default :)
So 1) you don't risk to push something by mistake 2) probably we should think to drop a "no args" error to make this more explicit.

Feel free to reopen if my answer is someway not satisfying

Cheers

[2015-08-28 07:30] #208 closed

[2015-08-28 07:32] pioneerskies commented on #207
You've done an already good troubleshooting; and what is the content of the SQL file? It has all the contents as expected or is somewhat incomplete?

[2015-08-28 07:32] rockethouse commented on #208
Ah awesome! I was too scared to check and find out. That is great - thanks

[2015-08-28 07:36] rockethouse opened #209 "Set default permissions for Movefile"
Hi, me again!

Another quick one... I noticed that the Movefile is readable by world, therefor if your dev environment is online like mine (I know it shouldn't but I have my reasons) - it is accessible at site.devurl.com/Movefile and that's definitely not something you want leaked or accessible to the public.

I've been able to fix it easily enough by changing the permissions of Movefile to 660 bu

[2015-08-28 07:46] pioneerskies commented on #137
I've opted to write down a little wiki entry w/ your contribuition [here](https://github.com/welaika/wordmove/wiki/GiT-post-checkout-hook-to-rewrite-the-local-wordpress_path-in-Movefile).

It would be great to have some more details about the script. E.g. I've read the scanned the code and I have a little question: what it does if I'll checkout a branch from inside a subdirectory?

Anyway your ide

[2015-08-28 08:12] pioneerskies commented on #209
Hello and thanks for sharing your needs and experience.

Could you elaborate more on the subject? Where do you think Wordmove should manage file permissions?
By default I think if you use SSH+rsync for the transfer it will try to keep the local octals on the remote server; I really don't know if lftp does support something like that honestly.

[2015-08-28 08:16] pioneerskies commented on #205
Hm...I understand your fear :)

Wordmove will always save a dump of the remote database inside the `wp-content/` folder anyway, so if you'll blank the remote db my mistake, you'll have the dump to restore manually.

A really raw way to lock the push is to comment out the database section inside the `Movefile`.

Could these informations helps?

[2015-08-28 08:17] rockethouse commented on #209
Oh, I mean when you run wordmove init and it creates the "Movefile" it sets the permissions as 664 (read to world) I think 660 would be better, that way it can't be viewed in a browser.

[2015-08-28 08:17] pioneerskies commented on #202
@defaria we're back from holidays and will wait for results :)

Thanks for sharing the possible issue.

[2015-08-28 08:19] pioneerskies commented on #203
Hello @rgantree ; why you have closed this on your own? Have you solved?
It should be useful to share the solution w/ the community if it could help others.

Cheers :)

[2015-08-28 08:58] pioneerskies commented on #144
Il close this due to inactivity. Thanks @bwaaaaaa for the suggestion :)

[2015-08-28 08:58] #144 closed

[2015-08-28 09:01] pioneerskies commented on #201
Hm. The behaviour is quite strange, but at a first take it seems like permissions problem could be on the server. Can you write/delete files if you connect to the server w/ a software like FileZilla?

[2015-08-28 09:03] pioneerskies commented on #117
We're on the way to check this PR https://github.com/welaika/wordmove/pull/206 about this feature

[2015-08-28 09:07] pioneerskies commented on #160
Hi @AlphaBlossom ,

in the past have you ever used urls like this:

[code]

?

[2015-08-28 09:11] pioneerskies commented on #198
Hi @iDuuck ,

thanks for your proposal; have you got some examples (snipet, screenshots) about the problem and an example of how you'd like to change it?
Overall is not an easy task to format the output, because Wordmove works on remote environments, so  is not always that easy to grab remote errors. Even more when using FTP as transfer protocol.

If you'll elaborate a bit on the idea we'll take a

[2015-08-28 09:13] pioneerskies commented on #195
Already given a try with

[code]

?

Sorry for the delay, but we're jast back-to-school here in welaika :)

[2015-08-28 09:16] pioneerskies commented on #187
We'll preserve this issue as a feature request

[2015-08-28 09:17] pioneerskies commented on #187
Oh...obviously thanks @essenmitsosse for the deep troubleshoot you made

[2015-08-28 09:21] pioneerskies commented on #192
And have you already tried the more complex configuration suggested in [this paragraph](https://github.com/welaika/wordmove#ftp-support) of the readme?

[2015-08-28 09:30] essenmitsosse commented on #205
Would be nice as a feature. To be able to something to the wordmove file like block push/pull of database/template/uploads etc.

    block-push:
        -database: true

Because: I might get a database back-up, but what if I overwrite the uploads folder? Of course I should always have a proper backup, but at least this would save the work of restoring from the backup, including the downtime caused

[2015-08-28 09:32] pioneerskies commented on #209
Ok, clearer to me, thanks. A question: if you chmod the file to 660 1 time, then you push/pull your things, will permissions be kept?

[2015-08-28 09:38] pioneerskies commented on #205
My fear is that than WordMove would require an alarm to remember us to add the lock option!
Out of jokes ;) I'm tagging as a feature request and we'll elaborate a bit on this.

My bigger concern is to try to avoid an excessive grow of the Movefile, but the feature should be achieved by other ways.

Thanks for your interventions

[2015-08-28 09:41] iDuuck commented on #205
It's just growing, if needed. And I would rather have a bigger Movefile
than a broken service.
On Fri 28 Aug 2015 at 11:38 Alessandro Fazzi <notifications@github.com>
wrote:

[2015-08-28 11:38] connormckelvey commented on #207
It was a complete SQL file though it was somewhat larger than the sites I use wordmove with usually have.

My coworker figured it out. For the database host, he put redacted.org (and it works), where as I put localhost. To me since the database export was using the php script that is FTP'd up, localhost seems to make the most sense even though either could work.

That being said, I think this is s

[2015-08-28 11:39] connormckelvey commented on #137
@pioneerskies not quite sure what you mean by "checkout a branch from inside a subdirectory?"
Do you mean check out a branch when Wordpress is installed in a subdirectory?

[2015-08-28 12:38] pioneerskies commented on #137
Nope :)

[code]

I know that isn't an usual path anyway

[2015-08-28 12:42] connormckelvey commented on #137
Good point. I suppose I need to write a function to find the Movefile.

[2015-08-28 12:45] delphaber commented on #111
Hi, we decided to *not* fix this because probably there's a problem with your database and you should try to fix it without losing data. Please, read this wiki page https://github.com/welaika/wordmove/wiki/invalid-byte-sequence-in-UTF-8-while-pushing---pulling-db for more information

[2015-08-28 12:45] #111 closed

[2015-08-28 12:47] delphaber commented on #132
Please, read this wiki page https://github.com/welaika/wordmove/wiki/invalid-byte-sequence-in-UTF-8-while-pushing---pulling-db for more information.

Can you use UTF-8 for wordfence `varchar`/`text` columns?

[2015-08-28 12:53] delphaber commented on #202
@defaria could you please try with wordmove 1.3.0 ?

`gem install wordmove` to download the latest version from rubygems.org

[2015-08-28 13:06] #139 closed

[2015-08-28 13:06] delphaber commented on #139
Done

[2015-08-28 16:20] delphaber commented on #140
Done

[2015-08-28 16:20] #140 closed

[2015-08-28 16:24] pioneerskies commented on #22
We're open to PR, but the effort to implement such a feature is too big for the main maintainers

[2015-08-28 16:24] #22 closed

[2015-08-28 16:30] pioneerskies commented on #104
We're really really sorry about having never replied...

In the meantime we have decided that those type of contributions have to be placed in the project's wiki. It is open. Just create a new page and edit as desired.

Cheers

[2015-08-28 16:30] #104 closed

[2015-08-28 16:31] pioneerskies commented on #130
Closing due to inactivity

[2015-08-28 16:31] #130 closed

[2015-08-28 16:52] pioneerskies commented on #93
@Swingline0 @ivandoric @joeguilmette @everybodyaroundtheworld

The feature is shipped in the current pre-release, please `gem install wordmove --pre`, test and report bug if you find one!

Cheers

[2015-08-28 16:52] #93 closed

[2015-08-28 16:54] Swingline0 commented on #93
Awesome!!!! You're the man!

On Fri, Aug 28, 2015, 12:52 PM Alessandro Fazzi <notifications@github.com>
wrote:

[2015-08-28 17:01] pioneerskies commented on #155
@WinkingFrog @jirsbek
version 1.3.0 is now shipped as stable. Please, `gem install wordmove` and enjoy :)

[2015-08-28 17:01] #155 closed

[2015-08-28 17:03] pioneerskies commented on #169
Closing due to inactivity.

[2015-08-28 17:03] #169 closed

[2015-08-28 17:04] delphaber commented on #138
Done in dev branch

[2015-08-28 17:04] #138 closed

[2015-08-28 17:04] pioneerskies commented on #136
Just as a feedback from us @welaika: we never tried to do that. :)

[2015-08-28 17:09] pioneerskies commented on #141
@dsmy are you still interested in a troubleshooting? Eventually could you write down some details? OS, mysql version, how was mysql installed, try to launch the wormove's mysql command (it is on the stdout output) in a terminal, etc. etc.

Cheers

[2015-08-28 17:12] pioneerskies commented on #162
I'm closing due to inactivity. Feel free to reopen if you need

[2015-08-28 17:12] #162 closed

[2015-08-28 17:15] pioneerskies commented on #170
Sorry I'm closing due to inactivity, but feel free to continue and reopen the discussion

[2015-08-28 17:15] #170 closed

[2015-08-28 17:22] #96 closed

[2015-08-28 17:23] pioneerskies commented on #127
@Antoinebr @mariojankovic now we warn users when no true actions are passed as flag to wordmove.

Closing. Cheers :)

[2015-08-28 17:23] #127 closed

[2015-08-29 14:29] Mte90 commented on #104
Perfect :-)

[2015-08-29 15:15] oterox opened #210 "Dump.php problem"
Hi,
I've just installed wordmove and i'm having problems with the dump script.
I get this error:
PHP Parse error:  syntax error, unexpected '{', expecting ')' in /home/website.eu/clients/plugin/wp-content/dump.php on line 41

And if i edit dump.php i can see the problem:
[code]

There's a missing ")" on the function definition after $charset = 'utf8'

Is this a bug or am i doing something wrong?

[2015-08-29 15:33] oterox commented on #210
You have a little mistake in this file, line 40:
lib/wordmove/assets/dump.php.erb

;)

[2015-08-30 06:56] delphaber commented on #210
You are right. I'm gonna fix it right now!

[2015-08-30 07:34] delphaber commented on #210
Hi. It should be fixed in `1.3.1` now. Please update with `gem install wordmove`. Thank you!

[2015-08-30 07:34] #210 closed

[2015-08-30 08:51] oterox commented on #210
the version i'm using is  wordmove-1.4.0.pre2

[2015-08-30 09:06] rockethouse commented on #209
Hi,

Yes I think it will as it is skipped over by default, but no need to worry, I have just realised I can hide the file in the nginx config on my dev server, that will fix it.

Thanks

[2015-08-30 09:06] #209 closed

[2015-08-30 11:19] delphaber commented on #210
This is pretty strange because `pre` versions get installed only if you pass `--pre` to `gem install`. Anyway I'm going to release also a new pre version.

Be careful: pre release versione are unstable

[2015-08-30 11:21] delphaber commented on #210
pre3 version release.

[2015-08-31 06:36] pioneerskies commented on #117
@andyinabox @torounit @josephbergdoll this is shipped in current pre-release gem.
Please refer to #206

[2015-08-31 06:36] #117 closed

[2015-08-31 12:28] rgantree commented on #203
Hello @pioneerskies
thank you for picking up this issue.
No, I didn't solve it yet, I just had to move to some other work I have to do.
would still love to get it done as it is the last step for me to get moving with VCCW.
Any chance you would know?

cheers :)

[2015-08-31 14:27] pioneerskies commented on #203
Ok, cool. We can try, but I'd like to take a look to your Movefile before starting any troubleshoot.
Remove sensitive data from it and use github syntax formatting tool in order to take it readable.

[2015-09-01 09:39] creativezed opened #211 "How to install lftp on Windows 7?"
How can I install lftp on Windows 7? I tried installing it using Cygwin but it didn't seem to work. Is there any other way of installing it globally on Windows 7?

I am using Git Bash to run Wordmove. I can access lftp via Cygwin Terminal but can't access it via Git Bash.

[2015-09-01 11:31] iDuuck commented on #211
Although this is not the place to ask for support for lftp you just need to go through Google and search for `LFTP for Windows 7`.

First thing I found was http://nwgat.ninja/lftp-for-windows/
Hope this helps

[2015-09-01 11:57] iDuuck commented on #201
This is surely a permission problem, try playing with the permission settings a little bit and then try again to push with wordmove.

[2015-09-01 12:06] creativezed commented on #211
I have already tried this. It didn't work. I've spent almost the whole day searching for a solution but nothing has worked so far.

[2015-09-01 12:07] iDuuck commented on #211
So, I just read that you are using Git Bash. Could you tell us what Git Bash is doing?

[2015-09-01 12:10] iDuuck commented on #198
Normally the ftp client (in this case written in ruby) is getting the output of the remote console and then it's possible to color some things from the string, isn't it?

[2015-09-01 12:12] creativezed commented on #211
When I push the site it starts the uploading process but it gets completed within a couple of seconds but nothing actually gets uploaded. When I try to check the version of lftp via Git Bash I get the "command not found" error. However if I check the version of lftp via Cygwin terminal it does show the version of lftp installed.

[2015-09-01 12:14] iDuuck commented on #211
try uploading something without wordmove and only with help of lftp to check if it's an issue with lftp or your pc.

[2015-09-01 14:44] creativezed commented on #211
I tried connecting directly through lftp using regular FTP via Cygwin terminal and I got the following error:
Fatal error: Certificate verification: subjectAltName does not match ‘domain.com’

But when I tried to connect using SFTP - lftp got connected and I was able to transfer files without any problem.

Is there a way I could use SFTP instead of regular FTP? Maybe that will work.

[2015-09-01 14:51] iDuuck commented on #211
SFTP == SSH. So just switch to SSH

[2015-09-01 14:58] creativezed commented on #211
I just tried SSH with wordmove. It did the exact same thing. Completed the uploading process within a couple of seconds but nothing got uploaded.

[2015-09-01 15:12] iDuuck commented on #211
Strange. No error message?

[2015-09-01 16:53] creativezed commented on #211
Not at all. It seems like it runs the complete uploading procedure but the files are not actually getting uploaded. I have tried it several times and it does exactly the same thing every time both with FTP and SSH.

Using Movefile:
Pushing wordpress code:
Pushing uploads:
Pushing Themes:
Pushing Plugins:
Pushing Languages:
Pushing Database:

[2015-09-03 00:37] klangwiedergabe opened #212 "mysqldump error on push"
I'm using Mamp, and i did follow all of this instructions https://github.com/welaika/wordmove/wiki/MAMP-tips but I'm still getting this error:

mysqldump --host=localhost --user=b691feea4e50 --password=yolopass22 rwd_hello --result-file=/apps/rwdproject/public/wp-content/dump.sql
   remote | mysqldump --host=localhost --user=b691feea4e50 --password=yolopass22 rwd_hello --result-file=/apps/rwdproje

[2015-09-03 09:35] pioneerskies commented on #212
IMHO you simply have not write permission inside that directory. Check the directory permission with `ls -l /apps/rwdproject/public/wp-content` and/or the upper levels of the dir tree

[2015-09-03 09:35] iDuuck opened #213 "Permission error when uploaded"
This is the error I am getting on `index.php`, when freshly uploaded. When setting permissions of the uploads folder it's possible to view the homepage, but otherwise I am getting the `Permission denied` error.

[code]

What's the matter with this? Server configuration? Wrong Movefile?

[2015-09-03 10:46] klangwiedergabe commented on #212
The command told me:

ls: cannot access /apps/rwdproject/public/wp-content: No such file or directory

I got inside public and i ls -l, and show me this

-rwxrwxrwx  1 serverpilot serverpilot   418 Sep 24  2013 index.php
-rwxrwxrwx  1 serverpilot serverpilot 19930 Jan  1  2015 license.txt
-rwxrwxrwx  1 serverpilot serverpilot  7358 Apr 23 14:00 readme.html
-rwxrwxrwx  1 serverpilot serverpilot  49

[2015-09-03 14:08] pioneerskies commented on #212
what's the output of `pwd` inside the public dir?

As an aside: your permission are widely too open AFAIK :) It doesn't hurt Wordmove, but could be a security issue.

[2015-09-03 23:36] klangwiedergabe commented on #212
never mind I'm done with wordpress.

[2015-09-03 23:36] #212 closed

[2015-09-06 14:59] iDuuck commented on #213
Just fixed it using the `rsync_options` opion. I just added the `--chown` and `--chmod` flags.

[2015-09-06 14:59] #213 closed

[2015-09-08 16:46] defaria opened #214 "Wordmove not copying file in wp-content"
I use a plugin called Login Logo, which looks for an image in the wp-content folder called login-logo.png, and then set's that image as the login logo. On 3 different websites wordmove failed to copy that image over. The only excluded settings I have for wp-content is the one that comes by default with the movefile.

"wp-content/*.sql"

Has anyone else noticed issues copying files from wp-content?

[2015-09-08 17:55] dsmy commented on #141
@pioneerskies Sure, currently on Yosemite, don't quite how mysql was installed, but when I was trying out wordmove I was trying to use the mysql in Mamp.

This was the command used for wordmove during my tests (wordmove pull -d -e staging). Let me know if there is anything else I can provide on the issue.

[2015-09-09 07:07] RaMonkey opened #215 "Wordmove::ShellCommandError"
[code]

Push/Pull files work fine but can't get the DB Pushed nor Pulled.

Using Mamp locally.

[code]

[2015-09-10 09:33] pioneerskies commented on #215
If you execute in your terninal the failing command what does it tells you?

`mysqldump --host=localhost --user=xxxx --password=xxxxxxxx test-lab --result-file=/Users/ramon/Sites/WP-SITES/test-lab/wp-content/dump.sql`

What's you Wordmove version?

[2015-09-10 09:39] pioneerskies commented on #141
I'll try...

In OSX the socket isn't in the usual unix path AFAIK. In my case, with MySQL server running, I have the socket in `/tmp/mysql.sock` let's check if this path is right for you.
If it is you'd have to find you `my.cnf` file, find this snippet

[code]

and edit as following

[code]

Let us know

[2015-09-10 09:42] pioneerskies commented on #141
And just to be clearer: this happens because mysqldump try to connect to the unix socket, not to the port on the TCP socket

[2015-09-10 10:03] pioneerskies commented on #214
It could be useful in these cases to report the command you are issuing to Wordmove.

Anyway: I think this is related to #163 and is a design issue. `-w` flag pushes the core excluding `wp-content/*`, other flags keep care of the directories inside `wp-content`. This way we don't care about files inside `wp-content`.

Your case is someway exotic IMHO, since your plugin searches for something in a

[2015-09-10 10:03] pioneerskies commented on #163
We are discussing a similar thing in #214 @luisbraga

If you're interested your contribute should be helpful

[2015-09-10 14:45] defaria commented on #214
Thanks @pioneerskies. I was simply doing a pull --all , to get a copy of the site down to local.

[2015-09-10 14:51] RamonTonnaer commented on #215
Hi Pioneerskies,

After a wordmove push --all, there's a dump.msql in wp-content on live site of 256B with content:

-- Created at 10.9.2015 16:37 using David Grudl MySQL Dump Utility
-- Host: xxxxxxx.com
-- MySQL Server: 5.5.42-MariaDB-cll-lve
-- Database: xxxxxxxx_test-lab

SET NAMES utf8;
SET SQL_MODE='NO_AUTO_VALUE_ON_ZERO';
SET FOREIGN_KEY_CHECKS=0;
-- THE END

wordmove-1.3.1

[2015-09-10 14:58] RaMonkey commented on #215
Hi Pioneerskies,

After a wordmove push --all, files are being pushed to the server. In wp-content there's a dump.msql of 256 B containing:

-- Created at 10.9.2015 16:37 using David Grudl MySQL Dump Utility
-- Host: name.com
-- MySQL Server: 5.5.42-MariaDB-cll-lve
-- Database: user_test-lab

SET NAMES utf8;
SET SQL_MODE='NO_AUTO_VALUE_ON_ZERO';
SET FOREIGN_KEY_CHECKS=0;
-- THE END

Wordmove versi

[2015-09-10 15:44] Jeger commented on #215
Hi, i'm having the exact same problem.
The same exact error message, same version of wordmove.

Running the failing command:

    mysqldump --host=localhost --user=root --password=XXXXXX superbra --result file=/Users/halvard/Documents/Mekom/Prosjekter/superbra/wp-content/local-backup-1441899113.sql

Produces the expected result a new 'local-backup-1441899113.sql' file
The file seems ok:

    -- My

[2015-09-11 12:43] AlexYudaev commented on #215
I also have same problem, i think the issue is in windows shell, windows shell doesn't know mysqldump command.

How i can configure mysql folder directory?

[2015-09-11 14:30] delphaber commented on #114
Closing: Please read this https://github.com/welaika/wordmove/wiki/invalid-byte-sequence-in-UTF-8-while-pushing---pulling-db

[2015-09-11 14:30] #114 closed

[2015-09-11 14:31] delphaber commented on #106
Hi @joeguilmette can we close this?

[2015-09-11 14:35] delphaber commented on #120
I'm closing this. PR is welcome :)

[2015-09-11 14:35] #120 closed

[2015-09-11 14:38] delphaber commented on #125
I'm closing this: no feedback.

[2015-09-11 14:38] #125 closed

[2015-09-11 14:38] delphaber commented on #132
Closing this. Please read the wiki and reopen if necessary

[2015-09-11 14:38] #132 closed

[2015-09-11 14:49] Jeger commented on #215
@AlexYudaev  no that is not the same problem as then it does not run at all in your terminal.

If you read mine and @RaMonkey comments we actually do get an output from mysqldump.

The fact that mysqldump is not in your PATH is a different problem and you should try to google that as it has nothing to do with this developer.

[2015-09-11 15:05] Jeger commented on #158
I ran into the same problem, and it is hard to debug as the push / pull seems to go without a problem.
Would it be possible to throw an error if the url is not found? That would make it obvious where the fault is.

[2015-09-11 16:12] delphaber commented on #152
Done. Please check the `README` of dev branch: https://github.com/welaika/wordmove/tree/dev to know how to configure your `Movefile`.

Install the latest wordmove prerelease version with `gem install wordmove --pre`

Please, since this is a pre release version, take extra caution.

Let us known!

[2015-09-11 16:51] alexisleblanc commented on #158
I was able to correct the problem by making a new movefile. I dont know why but my old movefile seemed to be wrong ... even if the new one look exactly the same, by making a new wordmove init, the problem was fixed.

[2015-09-12 03:44] joeguilmette commented on #106
Yes! All works wonderfully, thanks guys.
On Fri, Sep 11, 2015 at 9:31 PM Fabrizio Monti <notifications@github.com>
wrote:

[2015-09-14 00:15] dzonivejin commented on #211
Totally same thing on Windows 8 and Windows 10 here.

I tried installing LFTP multiple ways on Windows and none works with Wordmove.

But now, I'm not sure if it's only LFTP issue after all, since Wordmove doesn't work with SSH too on Windows, at least for me (and I have everything set properly for it to work with SSH).
Wordmove finishes everything without outputting any errors (connects to site v

[2015-09-14 15:25] kobrix opened #216 "Failing to pull -d "private method `load' called for Psych:Module (NoMethodError)""
[code]
it's my first day with wordmove so this is probably a configuration error on my part, but I can’t see what. Here's the full output:

[code]

[2015-09-14 16:16] kobrix commented on #216
updated ruby to 2.2.3 and now have different problem, seems to be similar issue to #73 with pull:
[code]
also a lot of

[code]

this is all way above my head! I just wanted to get the advantage of wordmove but instead I've spent the day trying to understand these problems.

[2015-09-14 16:27] kobrix opened #217 "First push mistake"
And here's another comment from a newbie, which might hopefully mean someone else doesn't make the same mistake.

My first test of Wordmove push didn’t go very well. Most significantly, I was _not_ expecting this:

[code]

Luckily this was a test account so nothing important lost (but unusual activity meant my IP was blocked temporarily!).

Other problems were that the upload repeated several time

[2015-09-14 17:20] kobrix commented on #216
The `dump.sql` and `local-backup-[n].sql` files are downloaded properly. Going the other way, push -d fails with the same error but the `dump.php` file is uploaded and the `remote-backup` is downloaded. But in either case the process fails.

[2015-09-14 22:37] jovboz opened #218 "How do I tell Wordmove what my SSH keys are?"
I know there might be a simple answer, but I lost about an hour...

How do I tell Wordmove what/where my SSH keys are if I use keys without password for connection? It says 'password is optional, will use public keys if available', so I leave it blank cause I have keys, but how can Wordmove know where my keys are located, how do I tell it?

Thanks,
Jovana

[2015-09-15 02:21] kobrix commented on #216
Okay, so I've got push working (don't ask me how), but still can't get it to `pull -d` successfully. The backup database is created and `dump.php` flashes in the folder so something is happening, but it's not uploaded to mysql.

Please let me know what info I should supply to get this diagnosed. It's frustrating because I can see what a useful program this can be and I was really looking forward t

[2015-09-15 02:31] getresults commented on #216
Yes, I've been experiencing similar issues.

Some additional debugging options would be a big help.

The first thing to check is that your wp-config.php table prefix is the same on both local and remote servers.  I noticed this morning that there's no error message / warning when the table prefixes don't match - mysql isn't able to import the database.

Another issue I've found is wordmove not suc

[2015-09-15 07:19] pioneerskies commented on #218
Hi there!

Please, don't leave the password blank, but comment/delete the key in the Movefile YAML.
Let me know if it helps ;)

[2015-09-15 07:23] #106 closed

[2015-09-15 07:59] pioneerskies commented on #158
Labeling as a documentation improvement.

@Jeger generally I'm totally with you; specifically managing errors when using FTP protocol is a nice PITA :P

Anyway we're are stashing some similar requests, so it makes everyday more desirable get working in this direction.

Please, remember that PR are always welcome in order to keep up improving Wordmove!

[2015-09-15 08:15] pioneerskies commented on #215
@Jeger thanks for your test. Let's try to go a bit deeper:

[code]

and just after that run

```echo $?```

what's the reported code?

If we won't have a clue this way I'll need to setup a test env, because I can't reproduce the problem on mine. The code is dropping an exception because the exit status of the command isn't `0` ... this is blowing my mind a bit :)

[2015-09-15 09:06] Jeger commented on #215
Hi

I just managed to solve the problem:

I have MAMP mysql executables added to path using the following method:
    mysql() {
        /Applications/MAMP/Library/bin/mysql "$@"
    }
    export -f mysql
( http://stackoverflow.com/questions/4145667/how-to-override-the-path-of-php-to-use-the-mamp-path )

And added mysqldump the same way.

When i instead added a linked file to path through /usr/loca

[2015-09-15 09:16] kobrix commented on #216
Thanks for the hint about table prefix, I had the same thought but they are the same. I'll have another look at the whole setup later but I lost a lot of time to this yesterday and I'm reluctant to sink more time into it just now unless there's a definite process to debug.

[2015-09-15 11:11] halvardos opened #219 "Only dump tables with the correct prefix"
When trying to `wordmove pull -d` the following error message is encountered:

[code]

I have interrupted the process before it deletes the dump.sql file, and what i noticed is that it dumps all tables in the DB, as we have a lot of wordpress installs on the server with different prefixes I'm thinking this might have something to do with it.

Push works fine, and the files seems to be identical, s

[2015-09-15 16:00] pioneerskies commented on #215
1st of all I'd like to thank you for your feedback.
2nd: could you order a bit the infos? :D

I think you added

[code]

[code]

in your `.bashrc` or equivalent location; is that right?

Anyway, why even before this action you already had `mysqldump` command available? Do you have multiple mysql installations on your system (e.g.: brew and MAMP)?

Could you then elaborate a bit about «When i inste

[2015-09-15 16:03] pioneerskies commented on #219
Have you already took a look at https://github.com/welaika/wordmove/wiki/invalid-byte-sequence-in-UTF-8-(ArgumentError)-with-wordmove-init ?

[2015-09-16 00:58] getresults commented on #216
So what I've had to do to debug this sort of thing is have CTRL-C ready and interrupt wordmove from running once it has transferred and the adapted sql file and before it deletes it from the local (or remote) server.

Then you can manually try importing the database using mysqladmin and see what errors are thrown up.

On one occasion the difference in table prefixes was the issue.  On another occa

[2015-09-16 08:03] pioneerskies commented on #216
Ok @kobrix ,

we know well how struggling is wasting tons of time troubleshooting software which should just work. As far as we know also that wordmove is not a completely integrated solution, but just a smart wrapper around you local and remote programs, with a bit o spicy here and there.

Moreover people's setup are so much different we cannot imagine ^^''' and so ... we're here trying to give y

[2015-09-16 10:07] Jeger commented on #215
Hi

I'm sorry for not making myself more clear.

when first running wordmove I added the following(to .bash_profile), as i did not have it in PATH at all:

    mysqldump() {
        /Applications/MAMP/Library/bin/mysqldump "$@"
   }

This did *not* work.

 When i removed that from .bash_profile and instead did:

    ln /path/to/mysqldump /usr/local/bin

This works now works.

This seems strange si

[2015-09-16 10:17] Jeger commented on #219
Hi

I'm sorry i had not read that wiki entry, but that explains why pushing works and not pulling.

The tables I'm working with (all under the same prefix) all have the correct encoding.
But on the server wordmove dumps *all* tables, including heaps of tables from other wordpress installs, probably some of them have problems with encoding.

Should wordmove limit the dump to tables with the correct

[2015-09-16 10:44] pioneerskies commented on #215
It'd be nice if you'd try to follow instructions in the wiki I'd linked before, in order to confirm we are giving the community the right path to follow when using MAMP.

And in the end, have you got multiple MySQL installation on your dev machine?

[2015-09-16 13:26] pioneerskies commented on #219
That's ok; thanks for taking the time to read it.

Actually I don't know if wordmove _should_ dump only x_ prefixed tables. One thing is sure: that's a really different behaviour from the present one.
Just think about a situation like:

wp01_posts
wp01_terms
wp01_[...all the standard wp tables]
wp01_my_custom_plugin_table

because of the impossibility to tell `mysqldump` to dump only wp01_* tables

[2015-09-16 15:28] kobrix commented on #216
Thank you again @getresults; with an almost empty db I would have to be very fast to catch that! I can load more dummy data and see if that gives me enough time.

@pioneerskies  thanks for replying. I fully expect this to be a problem with my setup rather than with your software but I will have to come back to this later or tomorrow, no time today.

[2015-09-16 20:14] defaria commented on #202
I was having issues with passwords containing ; and &.  I was using double quotes and I also tried with single quotes.

Updating to version 1.3 worked.

[2015-09-16 20:18] defaria commented on #202
is there a changelog to see what's new with version 1.3?

[2015-09-16 20:52] delphaber commented on #202
Yup! https://github.com/welaika/wordmove/blob/master/CHANGELOG.md

[2015-09-17 09:52] Jeger commented on #219
First of all; thank you for spending time discussing this :)

Yes :) But you don't always get to choose these things.

Having several wp_installs on the same DB is far from ideal and in this case is only really a problem on a test server we run. And that is *our* problem, not Wordmove :)

But at the same time it is not hard to see a case where one would use the DB for something not related to the

[2015-09-17 14:18] pioneerskies commented on #219
Just an occasional note while I'm out of office due to a conference :)
You're on a right path with your example. I think we're elaborating on something potentially important.
I've never thought about it before, probably because we always pretend to have separated DBs for such things, but yes...there's the possibility to compromise data.

I've also never thought about it, but Wordmove should have (

[2015-09-17 14:32] Jeger commented on #219
Thank you, I hope to be able to try and implement this change and make a PR but it might take a week or more before i have time to give it a shot. (also given that I'm not a native Ruby speaker it might take some time).

I'll keep this topic open for now, so we can discuss it further when you return from the conference.

[2015-09-20 08:36] pioneerskies commented on #219
Just took a look and I have to retreat on my own hypothesis: we can't auto-extract prefix from wp-config.php with actual code base, because in wp-config.php everything is defined as constant using

    define('NAME', 'value')

EXCEPT (!!!!!) the table prefix, which is instead a wonderful dropped-in-the-air variable. Gosh...

[2015-09-20 10:39] pioneerskies commented on #219
@Jeger and @anyoneinterested,

an idea popped in my brain so I decided to put it down to a branch.

Notes:

* near totally untested (no automatic tests and just a bit of poor man's testing) and moreover I broke the test suite (as expected)
* forked from master, so the branch hasn't all the cool feature of the dev branch (and so the pre-release gem)
* if you'd like to test a bit (on a test wp insta

[2015-09-20 10:53] pioneerskies commented on #216
@getresults as a general advise, I'd like your smart suggestions to be translated into feature requests issues :) Almost because this way they'll be lost forever inside an help issue :o

[2015-09-20 11:00] kobrix commented on #216
Apologies for not coming back with my config etc. Will do soon as I focus on problem again.

[2015-09-21 07:13] sebszocinski opened #220 "default Movefile"
Hi,

Would it be possible to add a feature to setup a default Movefile template? most of my websites will have a very similar default configuration minus the site url and slug of the server user etc..

It would be great if we could define our own starting Movefiles

If that makes sense?

[2015-09-22 10:07] leanderrj opened #221 "Database pull using MAMP 'fails'"
I'm using MAMP (PRO) for local development and when i try to pull a database it doesn't change the local database. Wordmove doesn't give any errors though. An .SQL file appears in /wp-content, which stays there. I'm guessing the PHP script isn't running when i pull the database.

I'm pretty new at this and i've looked for a solution but i haven't found anything.

[2015-09-22 15:16] pioneerskies commented on #221
Hello!

Already read this wiki entry? https://github.com/welaika/wordmove/wiki/MAMP-tips
Have you got the same db prefix on both environments?

[2015-09-22 15:36] leanderrj commented on #221
Yes, the mysqldump command does work. The databases also have the same prefix.

The weird thing is that pushing the database works. Below i've included the return of the pull command.

[code]

[2015-09-22 21:01] defaria commented on #221
I am having the same issue described by @leanderrj

I had version 1.3.1. installed when I was having this issue.
So I downgraded to version 1.3.0 and still had the same issue.
Then I downgraded to version 1.2.0 and the issue went away.

As @leanderrj said, I am able to push the database, but not pull. Which means something is failing during the remote database dump. I noticed that the database .sq

[2015-09-22 21:25] leanderrj commented on #221
Thanks @defaria! Downgrading worked for me too!

The issue is about the same though i do want to mention that my database .sql did have contents.

The .sql file is significally smaller than the remote database, 268kb from a 2mb database. (Probably just the db differences?)

I cant really read .sql but i thought me mentioning this might help.

[2015-09-23 05:21] garybrowne opened #222 "Pages in Wordpress not pushed"
Hi,
This is a fantastic gem, thank you.
Could you tell me if any of the following are moved with a push --all:
* posts/pages
* theme options
Thanks,
Gary

[2015-09-23 14:46] defaria commented on #222
push --all pushes everything including -d, which is the database where your posts/pages/themes options are typically stored.

[2015-09-24 14:06] defaria commented on #202
Thanks!

[2015-09-24 14:06] #202 closed

[2015-09-24 16:37] defaria opened #223 "Excluding folders issue"
I told wordmove to exclude the folder images:

  exclude:
    - ".git/"
    - ".gitignore"
    - ".sass-cache/"
    - "bin/"
    - "tmp/_"
    - "Gemfile_"
    - "Movefile"
    - "wp-config.php"
    - "wp-content/*.sql"
    - ".idea/"
    - "images/"

After adding the folder images to the exclude list, I pushed it to my dev server. The website loaded and told me that it could not find wp-includes/

[2015-09-25 01:26] garybrowne commented on #222
thanks - turns out my wp-configs were slightly different (different $table_prefix)

[2015-09-25 01:26] #222 closed

[2015-09-25 17:19] axyz opened #224 "Is there a way to pass options to mysqldump?"
specifically I had to use `--compatible=mysql40` to make the script work on older mysql hosts.

[2015-09-25 17:25] pioneerskies commented on #224
The feature was introduced by (this commit)[https://github.com/welaika/wordmove/commit/a8d77c2ffe11650962d03f849989069cb5a42d91] and it's on the dev branch.

You can install the gem corresponding to the gem branch with `gem install wordmove --pre`.

Any feedback is really appreciated when using --pre gem ^_^ AFAIK it's stable, but more feedback means faster stable gem deploy.

Cheers. And reopen i

[2015-09-25 19:30] AlphaBlossom commented on #160
Yes I have. Is that somehow causing my issue?

I'm still having the issue, again with a new site today where I pulled the production site and the .com is not replacing the .dev, so when I try to login to the site it directs me to the production site.

[2015-09-28 02:34] kLOsk opened #225 "Mac Mamp to Linux Apache user rights issues"
Hi,
I always had trouble with user rights on my local and remote staging servers. The thing was, on my Mac the MAMP files have the ownership of user:admin whereas on my remote staging Apache is configured to use www-data:www-data. I created a workaround which unfortunately did not work 100% (it didnt allow me to install plugins on staging).

So now i just found this code snippet:
rsync_options: "-

[2015-09-29 14:12] defaria commented on #225
The best way I found to bypass this issue is to use suphp as the php handler. That way the user/group is no longer an issue. This option is slower than dso, but more reliable when moving files to different servers. I am not sure you would have this option available on a shared hosting, but it's the first thing I change on a  VPS.

[2015-09-30 05:15] kLOsk commented on #225
Thanks, interesting approach. Tho, I think this wouldn't help with the folder read write access? is the PHP handler writing the files to the filesystem or is it Apache, i.e. www-data?

[2015-10-02 12:05] AndreaBarghigiani opened #226 "Installing problem on OSX 10.11"
Hi there,

I have always used your gem with pleasure but this morning, after updating my OS, I am unable to launch it... It appears as the system has removed it and I don't understand why...

So I opened my terminal and launched: `sudo gem install wordmove`

but after it I receive this error message:
[code]

I tried to look over Google but couldn't be able to find anything useful...

Do you have a

[2015-10-02 12:56] delphaber commented on #226
Hi, probably because of SIP. Anyway, I think it's a good practice to DO NOT install gems as sudo :)

Have you tried to install it without sudo?

[2015-10-02 13:54] AndreaBarghigiani commented on #226
Hi @delphaber,

what do you mean by SIP?

Anyway I tried to run `gem install` without `sume` but it tells me that I do not have write permission on the `/Library/Ruby/Gems/2.0.0`

Do you think I have to make it writeable?

[2015-10-02 16:32] simonmacfadyen commented on #160
Hello,

I am also experiencing this issue - however, my hostname was not listed as an IP address initially in any of my vhosts.

My Movefile:

``
local:
  vhost: "http://my-tld.dev"
  wordpress_path: "/Applications/MAMP/htdocs/folder" # use an absolute path here

  database:
    name: "database"
    user: "user"
    password: "password"
    host: "localhost"

  paths: # you can customize wordpress

[2015-10-05 10:16] Jeger commented on #219
I'm sorry for the long wait, I have not had any time to test until now.

During basic testing i could not find any problems.
I have tried both push and pull with a database with only one, and several different prefixes, i also tested with a wp_xxxxx prefix when a wp_ prefix was present, and vica versa.

This seems promising! :)

Is there anything else i can do?

[2015-10-05 14:11] pioneerskies commented on #226
https://en.wikipedia.org/wiki/System_Integrity_Protection

This is going to be a big pain, but os totally unrelated to Wordmove. The bigger advise I'd have is to use a ruby version manager such as rbenv or rvm.

[2015-10-08 12:44] Jeger commented on #219
Found a potential issue:

If i have "wp_" defined as local prefix and "wp_something_" as remote prefix in my movefile, pushing to an empty remote creates tables with "wp_" prefix.

[2015-10-08 13:38] simonmacfadyen commented on #160
Try removing the trailing forward slash from your vhost from all environments.

[2015-10-08 19:17] AlphaBlossom commented on #160
Thank you for your reply. I have tried both ways with no luck. Just to clarify, the http://11.111.11.1 is a dummy IP, but I have used the IP address in some cases and everything was working fine until recently.

[2015-10-09 19:16] JoshRiser opened #227 "Multisite support?"
I saw [this issue](https://github.com/welaika/wordmove/issues/45) that said multisite was not supported fully, however that was posted over two years ago.

I was just wondering what the implementation looks like right now? I am about to develop a multisite platform that will be the first since I started using Wordmove and wanted to see what my workflow will look like as far as pushing/pulling to s

[2015-10-10 09:10] pioneerskies commented on #219
Oh man! You're all the way right! If prefixes are different we need to implement a substitution on the dump, probably adding a new method for a bit of regex-balck-magic inside the (mysql adapter)[https://github.com/welaika/wordmove/blob/prefixed_tables/lib/wordmove/sql_adapter.rb]

(and now we have two problems)(cit.)

[2015-10-11 12:09] arnoudebben opened #228 "Issue push and pull database"
Hi, i'm new to Wordmove and have an error I can't fix. Also can't find older threads with the right answer.

This is the error i get:

C:\wamp\www\Stageverslag>wordmove push --db

▬▬ V Using Movefile: ./Movefile ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

▬▬ V Pushing Database ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
   remote | write /Files/stagedocument/wp-content/dump.php
    local | do

[2015-10-13 08:12] LudovicFauchet commented on #219
Hello,

I have the same problem except in my case i had the same local and remote prefix.

Does this issue is fixed ?

Cheers

[code]

[2015-10-13 17:31] rickertl commented on #221
I am having this issue as well. Is the only solution to downgrade?

[2015-10-13 20:42] ohryan opened #229 "FTP Timeout"
I'm seeing the following error after the Pulling Database step:

```/System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/protocol.rb:158:in `rescue in rbuf_fill': Net::ReadTimeout (Net::ReadTimeout)
	from /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/net/protocol.rb:152:in `rbuf_fill'
	from /System/Library/Frameworks/Ruby.framework/Versions/2.0/

[2015-10-15 06:45] leanderrj commented on #221
@rickertl. For now, yes. Downgrading to 1.2.0 fixed it though

[2015-10-15 15:08] rickertl commented on #221
Are you guys using FTP instead of SSH? I ask because the DB pull works just fine with SSH, but not with FTP. Unfortunately the hosting for one client does not allow SSH or I would be all set. Thanks.

[2015-10-16 10:36] leanderrj commented on #221
I only use FTP.

[2015-10-19 03:05] Mark-William-Schumacher commented on #214
I'm also experiencing a missed upload when i push with
"wordmove push -e staging --all"

The newly added files in /wp-content/webfonts/ are all missing from the upload.

The issue was resolved when i put the webfonts folder into /wp-content/uploads/webfonts/ instead.

[2015-10-19 13:46] sigurdsvela commented on #189
Could we get a warning of some sort if this happens. "No such file or directory" is a pretty cryptic message

[2015-10-22 09:47] goeko opened #231 "LFTP doesn't sync folders"
If I lftp sync wordmove with param

[code]

The first sync of coredata is correct after that wordmove don't find other pathes.
I must set every call expectly to sync my external folders.

[code]

What's wrong.
I cannot debug that.

[2015-10-23 10:39] sanderdewijs opened #232 "Issue when pulling database"
I'm having an issue when pulling the database to my local dev environment (running on DesktopServer from serverpress) on a Windows machine. When I use wordmove pull -e="production" -d I get the following error:

ERROR 1044 (42000): Access denied for user 'DB8ehts'@'localhost' to database 'e:/sites/www.localwebsite.dev/wp-content/dump.sql'
c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/wordmove-1.3.1/lib/

[2015-10-23 16:56] thespotvin commented on #203
Hello - I'm having the same problem - the script appears to be looking for this file:

staging-backup-1445619031.sql

But the file in wp-content is:

staging-backup-1445618751.sql

Here's my Movefile:

https://gist.github.com/thespotvin/e6037aebab6e5cc7b43f

[2015-10-26 18:57] WesternWeb opened #233 "How to Edit MoveFile"
Where is the Movefile and how do I edit it?

[2015-10-26 19:37] Jeger commented on #233
You can create one with the command `wordmove init` as described in the readme under Usage.
The file is then edited with the texteditor of your choice.

[2015-10-27 15:28] WesternWeb commented on #233
Thank you.  I figured out how to edit it but I am continually receiving errors and haven't been able to get it to work.  I'm sure that I'm not understanding something somewhere

[2015-10-30 23:03] samsfisher opened #234 "DB dump not updating urls"
Hi, Whenever i try to push my local site to dev or production site the site url is not being updated. I need to go tot he server to degine the site_url and home after each upload. Is this a bug? or am i doing something wrong?

[2015-10-31 18:10] neocamel commented on #211
I'm having the exact same problem.  Connect via SSH.  Using wordmove push --all, and it looks like it's working, but nothing appears on the server.

[2015-11-01 00:18] marklatham opened #235 "Mirror two localhost folders?"
Can wordmove mirror a localhost wordpress installation to another folder on the same localhost? If so, how to set up in the Movefile?

BTW I've been using wordmove AOK between local and remote sites -- handy -- thanks!

[2015-11-01 20:54] iDuuck commented on #211
Please test if it is working, if you push something over `lftp` manually.

[2015-11-03 18:34] rotexhawk opened #236 "MySQL server has gone away (RuntimeError)"
I am not sure why I am getting this error. Everything seemed fine previously until I updated some of the packages on my linux server.  I can upload the files but can't seem to upload the database.

< /serverURL/dump.sql
/Library/Ruby/Gems/2.0.0/gems/wordmove-1.2.0/lib/wordmove/deployer/ssh.rb:55:in `remote_run': Error code 1 returned by command (mysql -host .....) hidden for security reasons. But

[2015-11-05 15:07] jmichaelward commented on #227
+1, as I'm working on a multisite project right now, and this would be great to have.

[2015-11-06 18:42] der-lukas opened #237 "Vagrant push mysqldump failing"
Hey! I've done exactly what's described in this Wiki (https://github.com/welaika/wordmove/wiki/Getting-Wordmove-installed-in-VVV-(or-any-Vagrant))!

But there are two ways that go wrong:

**1. case (SSH):**
- I start `vagrant ssh`.
- But in SSH I don't have lftp and I'm not able to install it, so going to "/srv/www/myproject" and `wordmove push --all` doesn't work because it says lftp isn't instal

[2015-11-09 17:08] onlyskyguy opened #238 "Won't install on VVV"
I've ssh'd into my [vagrant VVV](https://github.com/Varying-Vagrant-Vagrants/VVV) setup, and tried to install wordmove, but I get the following error:

[code]

It seems that Ruby 2.2.1 is installed with RVM:

[code]

I'm setting up a site with [Variable VVV](https://github.com/bradp/vv) and VVV virtual box is running Ubuntu 14.04.3 LTS.

Any idea on how to fix this? Thanks for your help!

[2015-11-09 17:59] #237 closed

[2015-11-09 18:00] der-lukas commented on #237
Okay, I could fix it by just turning on "passive mode" for the FTP connection...

[2015-11-10 01:47] onlyskyguy commented on #238
Looks like using provision-pre.sh ala https://github.com/welaika/wordmove/wiki/Getting-Wordmove-installed-in-VVV-(or-any-Vagrant) worked fine

[2015-11-10 01:47] #238 closed

[2015-11-10 17:39] nicklolsen commented on #219
I'm in this situation right now. The prefixes on my local and staging servers are different, so staging does not reflect my changes.

[2015-11-11 16:15] onlyskyguy commented on #100
I'm running a [VVV](https://github.com/Varying-Vagrant-Vagrants/VVV) setup too and having a similar issue with pull. The database dump downloads fine but nothing happens after that, and nothing gets updated on the local site. Am I missing something?

I'm running the following command from vagrant ssh (vagrant@vvv:/srv/www/MYSITE):

[code]

This is the output:

[code]
It doesn't seem like anything

[2015-11-11 22:24] der-lukas opened #239 "Add permalink flush after mysql-import?"
Hey!

I don't know if it's just in my installation, but after I push my local database, my links won't work on the remote-server, but they do after saving my permalink-structure in the backend (which is because it flushes the rewrite rules).

What do you think about adding `flush_rewrite_rules()`-function after database-import process was successful?

Cheers Lukas

[2015-11-16 14:10] ChuckMac commented on #211
I'm a little late here... but I use WordMove on Windows successfully.  For those that are having issues do you have openssh installed as well?

[2015-11-16 14:54] iDuuck commented on #236
Wordmove is just showing you the error that it got from the server. After googling it seems that there is a too big packet or the server timed out.

[2015-11-16 14:54] iDuuck commented on #233
Feel free to put the errors here so that we are able to help you out!

[2015-11-16 17:07] creativezed commented on #211
I have OpenSSH installed but still no success. Are you using Windows 7? Can you please share how you setup wordmove on your PC step by step. It will be very helpful for a lot of people. Thanks!

[2015-11-16 17:14] creativezed commented on #211
By the way, I can only access SSH via Cygwin Terminal and not by the Command Prompt. Maybe that's what's causing the problem? Can you access SSH via Command Prompt after installing openSSH?

[2015-11-16 17:59] ChuckMac commented on #211
@creativezed Unfortunately I set this up almost 2 years ago so I don't remember exactly what I did step by step.  Maybe I will see if I can setup a clean VM image and get it working in there.

As for the SSH, yes I can access it from the normal command prompt.  I have it pointing to the version that is bundled with GIT.

`C:\Users\chuckmac>ssh
usage: ssh [-1246AaCfgkMNnqsTtVvXxY] [-b bind_address]

[2015-11-16 18:56] creativezed commented on #211
@ChuckMac I think we've figured out what's causing this problem. Can you please guide me how I can setup SSH to work via Command Prompt. I'll give wordmove a try again after that and I have a strong feeling that this will work. Thanks again!

[2015-11-16 19:19] ChuckMac commented on #211
@creativezed install [Git for Windows](https://git-scm.com/download/win).  Add <the directory you install it to>/bin to your system PATH.

[2015-11-16 19:25] creativezed commented on #211
@ChuckMac I have already installed Git for Windows. How do I add /bin to system PATH?

[2015-11-16 19:33] ChuckMac commented on #211
`setx path "%path%;C:\Program Files (x86)\Git\bin\"`

(or whatever directory you installed it)

[2015-11-16 21:14] ChuckMac commented on #211
@creativezed strage.. you can try it the GUI way if that is not working for you:

http://www.computerhope.com/issues/ch000549.htm#windows7

[2015-11-17 04:24] neocamel opened #240 "Could not parse PKey: no start line (ArgumentError)"
I'm trying to get wordmove working in Windows 7, using Git Bash for my command line tool.  When I run 'wordmove push -e staging -d'  I get the following output (database password OMITTED):

C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/net-ssh-2.9.3.beta1/lib/net/ssh/key_factory.rb:77:in `read': Could not parse PKey: no start line (ArgumentError)
        from C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/net-ss